<div class="contact-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="{{ 'homepage'|page }}">Home</a></li>
        <li><a href="{{ 'contact'|page }}">Contact</a></li>
    </ul>

    <div class="container">
        <h2>Contact Us</h2>
        <hr>
        <form data-request="onSend" class="uk-grid-small uk-form contact-form" role="form" method="post" uk-grid>
            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="name"> Name</label>
                <input class="uk-input" id="name" name="name" type="text" required>
            </div>

            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="email">Email</label>
                <input class="uk-input" id="email" name="email" type="email" required>
            </div>

            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="phone">Phone Number</label>
                <input class="uk-input" id="phone" name="phone" type="text">
            </div>

            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="txtMessage">Message</label>
                <textarea class="uk-textarea" rows="5" id="txtMessage" name="txtMessage" placeholder="Hi, do you have a moment to talk about?" required></textarea>
            </div>
            <div class="uk-width-1-5@s button-container">
                <button class="uk-button uk-button-default bg-turtle-green uk-text-bold uk-width-1-1@s" type="submit">SEND</button>
            </div>
        </form>

        <div id="message-status">
        </div>
    </div>
</div>
