title = "Custom Payment Bank Transfer"
url = "/payment/:slug"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[cz] = "/custom-payment-cash-delivery"

[myCustomPaymentCashOnDelivery]
slug = "{{ :slug }}"
==
<?php
use Jiri\Jkshop\Models\Order;
function onStart(){
$this['url'] = $_SERVER['REQUEST_URI'];
$this['orderId'] = substr($this['url'], strpos($this['url'], '-') + 1);
$this['order'] = DB::table('jiri_jkshop_orders')->where('id', $this['orderId']);
}
?>
==
<div class="cart-page checkout-page payment-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ 'payment' | page }}">Payment</a></li>
    </ul>

    <div class="uk-grid-medium payment-container" uk-grid>
        <div class="left-column border uk-width-expand@s">
            <div class="summary-title open-sans">Payment via Transfer</div>
            <hr>
            <div class="countdown-wrapper">
                <p class="countdown-title">Do payment before</p>
                <div class="countdown-timer">
                    <p id="demo"></p>
                </div>
            </div>
            <div class="box-wrapper border">
                <div class="header">
                    <div class="left-header">
                        <span class="fs16 fw500">HOW TO TRANSFER</span>
                    </div>
                    <div class="right-header">
                        <ul class="select-address">
                            <li>
                                <a class="update-address fw500">Payment Bills</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="body">
                    <div class="detail-address">
                        <div class="title p16">
                            <span>Follow this steps to transfer via&nbsp;&nbsp;</span>
                            <span>
                                <a href="#modal-overflow" class="update-address" uk-toggle>
                                    <i>
                                        <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}}, {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}">
                                    </i>
                                </a>
                            </span>
                        </div>
                        <div class="content">
                            <div class="mb15"><div class="number-list">1</div><div class="uk-display-inline-block">Go to ATM, or open your SMS/M-Banking or E-Banking.</div></div>
                            <div class="mb15"><div class="number-list">2</div>
                                <div class="uk-display-inline-block">
                                    Insert our account number <b id="account-number">497 799 8998</b>.
                                    <a class="js-copy-bank-btn small-link ml5">
                                        <i>
                                            <img src="{{'assets/img/icon/content-copy.png'|theme}}"
                                                 srcset="{{'assets/img/icon/content-copy@2x.png 2x'|theme}}, {{'assets/img/icon/content-copy@3x.png 3x'|theme}}">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="mb15"><div class="number-list">3</div>
                                <div class="uk-display-inline-block">
                                    Enter amount of payment <b>Rp {{ jkshopSetting.getPriceFormatted(order.total_price) }}</b>.
                                    <a class="js-copy-price-btn small-link ml5">
                                        <i>
                                            <img src="{{'assets/img/icon/content-copy.png'|theme}}"
                                                 srcset="{{'assets/img/icon/content-copy@2x.png 2x'|theme}}, {{'assets/img/icon/content-copy@3x.png 3x'|theme}}">
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="mb15"><div class="number-list">4</div><div class="uk-display-inline-block">Save the proof of payment you got.</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <p>
                    Make your payment directly to our account. please use your order ID as a payment reference. Your order
                    will not be sent until your payment have been sent to our account. For further information please contact
                    our <span class="turtle-green">customer support</span>
                </p>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script>
	// Copy paste script
	function copyTextToClipboard(text) {
	  var textArea = document.createElement("textarea");
	  // Place in top-left corner of screen regardless of scroll position.
	  textArea.style.position = 'fixed';
	  textArea.style.top = 0;
	  textArea.style.left = 0;
	  // Ensure it has a small width and height. Setting to 1px / 1em
	  // doesn't work as this gives a negative w/h on some browsers.
	  textArea.style.width = '2em';
	  textArea.style.height = '2em';
	  // We don't need padding, reducing the size if it does flash render.
	  textArea.style.padding = 0;
	  // Clean up any borders.
	  textArea.style.border = 'none';
	  textArea.style.outline = 'none';
	  textArea.style.boxShadow = 'none';
	  // Avoid flash of white box if rendered for any reason.
	  textArea.style.background = 'transparent';
	  textArea.value = text;
	  document.body.appendChild(textArea);
	  textArea.select();
	  try {
	    var successful = document.execCommand('copy');
	    var msg = successful ? 'successful' : 'unsuccessful';
	    console.log('Copying text command was ' + msg);
	  } catch (err) {
	    console.log('Oops, unable to copy');
	  }
	  document.body.removeChild(textArea);
	}
	var copyPriceBtn = document.querySelector('.js-copy-price-btn');
	copyPriceBtn.addEventListener('click', function(event) {
	  copyTextToClipboard({{ order.total_price }});
	});
	var copyBankBtn = document.querySelector('.js-copy-bank-btn');
	copyBankBtn.addEventListener('click', function(event) {
	  copyTextToClipboard('070000009822922');
	});
	// Copy paste end
</script>

<!-- Count Down Payment -->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{order.created_at}}");
    countDownDate.setDate(countDownDate.getDate() + 2);

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{% endput %}
