title = "Homepage"
url = "/"
layout = "default"
meta_title = "Richmall"
is_hidden = 0

[myProductsList]
take = 12
orderBy = "id"
sort = "desc"
onSaleOnly = 1
productPage = "product"

[Jiri\Subscribe\Components\SubscribeForm subscribeform]

==
<?php
use Jiri\Jkshop\Models\Category;
use Richmall\Homepage\Models\Sliders;
use Richmall\Homepage\Models\Testimonials;
function onStart(){
    $this['category'] = Category::orderBy('id','desc')->paginate(3);
$this['categories'] = Category::get();
$this['sliders'] = Sliders::get();
$this['testimonials'] = Testimonials::get();
}
?>
==

<div class="homepage">
    <div class="top-section">
        <div class="section-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="category-list">
                            <div class="header d-flex justify-content-between">
                                <p><b>Kategori</b></p>
                                <a href="" class="text-red">Lihat Semua</a>
                            </div>
                            <div class="item-list">
                                <ul>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/smartphone-tablet.svg'|theme}}" alt="Handphone dan Tablet">
                                        <p>Handphone dan Tablet</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/pc.svg'|theme}}" alt="Peralatan Elektronik">
                                        <p>Peralatan Elektronik</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/restaurant.svg'|theme}}" alt="Peralatan Rumah Tangga">
                                        <p>Peralatan Rumah Tangga</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/health.svg'|theme}}" alt="Kesehatan dan Kecantikan">
                                        <p>Kesehatan dan Kecantikan</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/child.svg'|theme}}" alt="Bayi dan Mainan">
                                        <p>Bayi dan Mainan</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/baby.svg'|theme}}" alt="Perawatan Bayi">
                                        <p>Perawatan Bayi</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/family.svg'|theme}}" alt="Kebutuhan Rumah Tangga">
                                        <p>Kebutuhan Rumah Tangga</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/style.svg'|theme}}" alt="Keperluan Rumah & Gaya Hidup">
                                        <p>Keperluan Rumah & Gaya Hidup</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/women.svg'|theme}}" alt="Fashion Wanita">
                                        <p>Fashion Wanita</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/man.svg'|theme}}" alt="Fashion Pria">
                                        <p>Fashion Pria</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                    <li class="d-flex">
                                        <img src="{{'assets/img/icon/fashion.svg'|theme}}" alt="Aksesoris Fashion">
                                        <p>Aksesoris Fashion</p>
                                        <img src="{{'assets/img/icon/down.svg'|theme}}" class="right-arrow" alt="Right">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="slider">
                            <img src="{{'assets/img/general/sample-banner@3x.png'|theme}}" class="slider-image" alt="Sampel Banner">
                            <div class="next-slide">
                                <img src="{{'assets/img/icon/right.svg'|theme}}" alt="Right Arrow">
                            </div>
                            <div class="previous-slide">
                                <img src="{{'assets/img/icon/right.svg'|theme}}" alt="Right Arrow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <div class="sec-2-1 border no-border-radius-right no-border-right" style="background-image: url('{{'assets/img/general/sample-image-1@3x.png'|theme}}');">
                                    <h4>Business Innovation <br>Group</h4>
                                    <p class="fs12 mt-2">BIG adalah produk terbaru Ralali dengan segmen bisnis terfokus, untuk memberikan solusi yang lebih relevan bagi bisnis Anda.</p>
                                </div>
                            </div>
                            <div class="col-md-4 px-0 d-flex flex-column">
                                <div class="sec-2-2 border fl1 no-border-radius no-border-bottom no-border-right">
                                    <img src="{{'assets/img/icon/spoon-and-fork.svg'|theme}}" alt="Spoon and Fork">
                                    <p><b>Big Resto</b></p>
                                    <p class="fs12 mt-2">Pusat Kebutuhan Bisnis Hotel, Restoran, Cafe, Catering, atau bisnis kuliner lainnya.</p>
                                    <p class="fs12 text-red"><b>Kunjungi Kami</b></p>
                                </div>
                                <div class="sec-2-2 border fl1 no-border-radius no-border-right">
                                    <img src="{{'assets/img/icon/office.svg'|theme}}" alt="Office">
                                    <p><b>BIG Office</b></p>
                                    <p class="fs12 mt-2">Pusat Kebutuhan Kantor, Fotokopi, Alat Tulis, Universitas, Sekolah atau peralatan kantor lainnya.</p>
                                    <p class="fs12 text-red"><b>Kunjungi Kami</b></p>
                                </div>
                            </div>
                            <div class="col-md-4 px-0 d-flex flex-column">
                                <div class="sec-2-2 border fl1 no-border-radius big-mart">
                                    <img src="{{'assets/img/icon/mart.svg'|theme}}" alt="Mart">
                                    <p><b>BIG Mart</b></p>
                                    <p class="fs12 mt-2">Pusat Kebutuhan Bisnis Warung, Toko Kelontong, Toko Sembako atau pusat perbelanjaan lainnya.</p>
                                    <p class="fs12 text-red"><b>Kunjungi Kami</b></p>
                                </div>
                                <div class="sec-2-2 border fl1 no-border-radius big-auto">
                                    <img src="{{'assets/img/icon/auto.svg'|theme}}" alt="Auto">
                                    <p><b>Big Auto</b></p>
                                    <p class="fs12 mt-2">Pusat Kebutuhan Bisnis Warung, Toko Kelontong, Toko Sembako atau pusat perbelanjaan lainnya..</p>
                                    <p class="fs12 text-red"><b>Kunjungi Kami</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sec-2-3">
                            <img src="{{'assets/img/general/illustration-voucher-discount.svg'|theme}}" alt="Illustration Voucher Discount">
                            <h5>Selamat Berbelanja di Richmall.com</h5>
                            <p class="fs12">
                                Anda Berhak mendapatkan<br>
                                <b>Gratis Ongkir hingga 200rb!</b><br>
                            <p class="fs12 text-red mt-3"><b>Bergabung Sekarang</b></p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-3">
                <div class="container">
                    <div class="heading-section">
                        <h3>Partner Kami</h3>
                    </div>
                    <div class="d-flex">
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-1@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-9@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-2@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-10@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-3@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-11@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-2@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-10@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-4@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-12@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-5@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-13@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1"   >
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-7@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-15@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                        <div class="box-column-group fl1">
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-8@3x.png'|theme}}" alt="">
                            </div>
                            <div class="sec-3-box border">
                                <img src="{{'assets/img/dummy/sample-brand-16@3x.png'|theme}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-4">
                <div class="container">
                    <div class="heading-section">
                        <h3>Kebutuhan Bisnis Anda</h3>
                    </div>
                    <div class="d-flex">
                        <div class="tab-header fl1 active">Restoran</div>
                        <div class="tab-header fl1">Bengkel</div>
                        <div class="tab-header fl1">Cuci Motor & Mobil</div>
                        <div class="tab-header fl1">Kafe</div>
                        <div class="tab-header fl1">Kantor</div>
                    </div>
                    <div class="d-flex content">
                        <div class="fl2 content-cover" style="background-image: url('{{'assets/img/general/restoran.jpg'|theme}}');"></div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product401.png'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Chef Wear Baju Koki Lengan Pendek Putih Biru Bagai Bunga di Kebun Raya Bogor</p>
                            <h5 class="text-red">Rp 116.500</h5>
                            <div class="message-box">Daftar untuk Diskon 50rb</div>
                            <p class="shop-name">Chef Wear</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product402.png'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Crown Electric Deep Fryer (Free Ongkir Only Jakarta dan Sekitarnya)</p>
                            <h5 class="text-red">Rp 719.321</h5>
                            <div class="message-box">Daftar untuk Diskon 50rb</div>
                            <p class="shop-name">Crown Horeka Online</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product403.png'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">GEA Roundbin Ice Shaver WF-A288</p>
                            <h5 class="text-red">Rp 251.300</h5>
                            <div class="message-box">Daftar untuk Diskon 50rb</div>
                            <p class="shop-name">ETHREE SHOP</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product401.png'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">IKEA (R) - Mixtur Piring Oven/Saji 15x15cm Kaca Kualitas Premium</p>
                            <h5 class="text-red">Rp 46.200</h5>
                            <div class="message-box">Daftar untuk Diskon 50rb</div>
                            <p class="shop-name">Automodis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-5">
                <div class="container">
                    <div class="heading-section">
                        <h3>Inspirasi Produk Anda</h3>
                    </div>
                    <div class="d-flex content">
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product501.png'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;" title="KURAFLEX Counter Cloth Original ZO 1000">KURAFLEX Counter Cloth Original ZO 1000</p>
                            <h5 class="text-red">Rp 1.800.000 <span>per Box</span></h5>
                            <div class="location"><img src="{{'assets/img/icon/location.svg'|theme}}" width="12" height="12" alt="location"> Jakarta Barat</div>
                            <p class="shop-name">PT Primakemas Cemerlang</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product502.jpg'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Buku Paket Iqra Balita</p>
                            <h5 class="text-red">Rp 300.000 <span>per Set</span></h5>
                            <div class="location"><img src="{{'assets/img/icon/location.svg'|theme}}" width="12" height="12" alt="location"> Padang</div>
                            <p class="shop-name">SHIDDIQUE STORE</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product503.png'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Spanduk 280gr 100x100cm</p>
                            <h5 class="text-red">Rp 21.053 <span>per Unit</span></h5>
                            <div class="location"><img src="{{'assets/img/icon/location.svg'|theme}}" width="12" height="12" alt="location"> Bandung</div>
                            <p class="shop-name">ABANGADEK PADANG</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product504.jpg'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Genteng Cisangkan tipe Victoria Slate</p>
                            <h5 class="text-red">Rp 8.250 <span>per Pieces</span></h5>
                            <div class="location"><img src="{{'assets/img/icon/location.svg'|theme}}" width="12" height="12" alt="location"> Bandung</div>
                            <p class="shop-name">PT CISANGKAN</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product505.jpg'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Semen 3 Roda 50 Kg x10 Sak</p>
                            <h5 class="text-red">Rp 550.000 <span>per Unit</span></h5>
                            <div class="location"><img src="{{'assets/img/icon/location.svg'|theme}}" width="12" height="12" alt="location"> Bekasi</div>
                            <p class="shop-name">Build Starts Here</p>
                        </div>
                        <div class="fl1 product-card">
                            <img src="{{'assets/img/dummy/product506.jpg'|theme}}" alt="">
                            <p class="product-title" style="-webkit-box-orient: vertical;">Memory Card Micro SD Vgen 32Gb Class 6 | Memori MicroSdhc MMC 32Gb Ori</p>
                            <h5 class="text-red">Rp 102.000 <span>per Unit</span></h5>
                            <div class="location"><img src="{{'assets/img/icon/location.svg'|theme}}" width="12" height="12" alt="location"> Padang</div>
                            <p class="shop-name">Teguh Sell</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-6">
                <div class="container">
                    <div class="heading-section">
                        <h3>Testimoni</h3>
                    </div>
                    <div class="d-flex content">
                        <div class="fl1 testimonial">
                            <div class="video-wrapper">
                                <img src="{{'assets/img/dummy/video-preview-1.jpg'|theme}}" alt="Video Preview">
                                <div class="backdrop"></div>
                                <div class="play-button">
                                    <img src="{{'assets/img/icon/play.svg'|theme}}" alt="play">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <p><b>PT Firman Indonesia</b></p>
                                <p class="description" style="-webkit-box-orient: vertical;">
                                    Kami mulai mengenal Richmall.com pada
                                    tahun 2014. Kami memandang
                                    Richmall.com bukan hanya sebagai
                                    marketplace biasa. Sebagai marketplace yang handal
                                </p>
                                <a href="" class="text-red">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="fl1 testimonial">
                            <div class="video-wrapper">
                                <img src="{{'assets/img/dummy/video-preview-2.jpg'|theme}}" alt="Video Preview">
                                <div class="backdrop"></div>
                                <div class="play-button">
                                    <img src="{{'assets/img/icon/play.svg'|theme}}" alt="play">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <p><b>PT. Prolink Intidata Nusantara</b></p>
                                <p class="description" style="-webkit-box-orient: vertical;">
                                    Di saat online store yang lain lebih fokus ke
                                    consumer product, belum ada yang bisa
                                    men-deliver corporate product yang Prolink
                                    miliki dengan baik. Di sinilah Richmall akan berinovasi
                                </p>
                                <a href="" class="text-red">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="fl1 testimonial">
                            <div class="video-wrapper">
                                <img src="{{'assets/img/dummy/video-preview-3.jpg'|theme}}" alt="Video Preview">
                                <div class="backdrop"></div>
                                <div class="play-button">
                                    <img src="{{'assets/img/icon/play.svg'|theme}}" alt="play">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <p><b>PT Melindo Cipta Agung</b></p>
                                <p class="description" style="-webkit-box-orient: vertical;">
                                    KSelaku General Manager dari MCA Group
                                    yang sudah 20 tahun bergerak di bidang
                                    importir barang-barang teknik, saya sudah
                                    melakukan riset untuk mencari platform terbaik.
                                </p>
                                <a href="" class="text-red">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="fl1 testimonial">
                            <div class="video-wrapper">
                                <img src="{{'assets/img/dummy/video-preview-4.jpg'|theme}}" alt="Video Preview">
                                <div class="backdrop"></div>
                                <div class="play-button">
                                    <img src="{{'assets/img/icon/play.svg'|theme}}" alt="play">
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <p><b>PT. Hargen Nusantara</b></p>
                                <p class="description" style="-webkit-box-orient: vertical;">
                                    Richmall.com sangat membantu kita untuk
                                    masalah promosi sehingga para pembeli
                                    tidak harus datang langsung ke pabrik kita.
                                    Mereka juga bisa lihat kita di website kita.
                                </p>
                                <a href="" class="text-red">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-7">
                <div class="container">
                    <div class="heading-section">
                        <h3>Kenapa Richmall?</h3>
                    </div>
                    <div class="d-flex content">
                        <div class="fl1 item">
                            <img src="{{'assets/img/icon/payment.svg'|theme}}" alt="payment">
                            <p class="title">Pembayaran</p>
                            <p class="subtitle">Aman dan Terpercaya</p>
                        </div>
                        <div class="fl1 item">
                            <img src="{{'assets/img/icon/warehouse.svg'|theme}}" alt="warehouse">
                            <p class="title">Harga Grosir</p>
                            <p class="subtitle">Cocok untuk dijual kembali</p>
                        </div>
                        <div class="fl1 item">
                            <img src="{{'assets/img/icon/seller.svg'|theme}}" alt="seller">
                            <p class="title">Ribuan Penjual</p>
                            <p class="subtitle">Banyak Pilihan Penjual</p>
                        </div>
                        <div class="fl1 item">
                            <img src="{{'assets/img/icon/discount.svg'|theme}}" alt="discount">
                            <p class="title">Banyak Promo</p>
                            <p class="subtitle">Diskon dan Voucher</p>
                        </div>
                        <div class="fl1 item">
                            <img src="{{'assets/img/icon/study.svg'|theme}}" alt="study">
                            <p class="title">Pelajari Cara Belanja</p>
                            <p class="subtitle">Temukan Kemudahan Berbelanja</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none" class="homepage uk-container">
        <div uk-slideshow="autoplay: true; autoplay-interval: 4000; " class="homepageSlider">

            <div class="uk-position-relative uk-visible-toggle uk-light">

                <ul class="uk-slideshow-items uk-grid-match" uk-height-viewport="min-height: 0">
                    {% for slider in sliders %}
                    <li>
                        <img src="{{slider.image.path}}"alt="{{slider.file_name}}">
                    </li>
                    {% endfor %}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            </div>
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin uk-position-bottom-right uk-position-small hide-mobile"></ul>
        </div>

        <div class="home-description-section-1 no-container-mobile">
            <div class="home-title">Welcome to Richmalls Beauty</div>
            <div class="home-description">
                <div class="description-image">
                    <img src="{{'assets/img/general/untitled-1@2x-c.jpg'|theme}}" alt="" class="hide-mobile">
                    <img src="{{'assets/img/general/home-yellow-mobile@2x-c.jpg'|theme}}" alt="" class="show-mobile">
                </div>
                <div class="description-text">
                    <div class="description-text-1">Richmall Products</div>
                    <div class="description-text-2">A range of leather products with tangible results.</div>
                    <div class="description-text-3">L’ Essential has a complete range of skin care products tailored for ongoing maintenance and care. L’ Essential products have been on the market since 2004. and have been well received in the wider community. With a wide range of products tailored to each skin type and creating high quality cosmetics in it’s contribution to the health and beauty of the skin of the people of Indonesia is L’ Essential’s commitment.</div>
                </div>
            </div>
        </div>

        <hr class="uk-divider-icon show-mobile">

        <div class="home-description-section-2 fldr block-mobile no-container-mobile">
            <div class="mr12 mr0-mobile">
                <img src="{{'assets/img/general/banner-3@2x-c.jpg'|theme}}" alt="banner" >
            </div>
            <div class="ml12 full-width section-2-step-parent">
                <div class="ml12 uk-flex uk-flex-column">
                    <div class="section-2-step uk-flex-1 mb25">
                        <div class="flex-mobile">
                            <span class="step-number">01</span>
                            <span class="step-description ml35">Convenient for Indonesia’s climatic</span>
                        </div>
                    </div>
                    <div class="section-2-step uk-flex-1 mb25">
                        <div class="flex-mobile">
                            <span class="step-number">02</span>
                            <span class="step-description ml35">Qualified safe for the skin</span>
                        </div>
                    </div>
                    <div class="section-2-step uk-flex-1 mb25">
                        <div class="flex-mobile">
                            <span class="step-number">03</span>
                            <span class="step-description ml35">Not cause blackheads and allergic reactions</span>
                        </div>
                    </div>
                    <div class="section-2-step uk-flex-1">
                        <div class="flex-mobile">
                            <span class="step-number">04</span>
                            <span class="step-description ml35">Our products are HALAL certified</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-highlights mt85">
            <div class="uk-flex uk-flex-between">
                <div class="home-title">Our Products</div>
                <div class="medium-text-green">See all products</div>
            </div>
            <div class="best-seller no-container-right-mobile">
                <div class="container">
                    <div class="best-frames">
                        <section class="related-products slider">
                            {% set index = 0 %}
                            {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
                            {% set index = index+1 %}
                            <div class="highlight-item column">
                                <a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">
                                    {% if product.getMainImage %}
                                    <img src="{{'assets/img/general/sale-c.png'|theme}}"
                                         srcset="{{'assets/img/general/sale@2x-c.png 2x'|theme}},
                                     {{'assets/img/general/sale@3x-c.png 3x'|theme}}"
                                         alt="" class="sale">
                                    <img src="{{ product.getMainImage.path }}" class="cursor-pointer product-image">
                                    {% endif %}
                                    <div class="cursor-pointer small-title">{{ product.title }}</div>
                                    <div class="previous-price">Rp 380.000</div>
                                    <div class="price">Rp {{ product.getFinalPriceFormated }}</div>
                                </a>
                            </div>
                            {% else %}
                            <div class="no-data">no products</div>
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-testimonial mt85">
            <div class="uk-flex uk-flex-between">
                <div class="home-title">What they say about us</div>
            </div>

            <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                {% for testimonial in testimonials %}
                <div>
                    <div class="uk-card testimonial-item uk-card-body">
                        <div class="avatar">
                            <img src="{{testimonial.avatar.path}}"alt="{{testimonial.avatar.file_name}}" >
                        </div>
                        <div class="medium-text-green">{{testimonial.name}}</div>
                        <div class="testimonial-title">{{testimonial.title}}</div>
                        <div class="testimonial-description">
                            {{testimonial.testimonial}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>






        <!--<div class="rect-nav" style="display:none;">-->
        <!--<div class="container">-->
        <!--<div class="ui grid">-->
        <!--<div class="twelve column row">-->
        <!--<div class="column">VALUE PACKS</div>-->
        <!--<div class="column">BRAND</div>-->
        <!--{% for cats in categories %}-->
        <!--<div class="column"><a href="/{{cats.slug}}">{{cats.title}}</a></div>-->
        <!--{% endfor %}-->
        <!--<div class="column">SALE%</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="slider">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="valign-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="icon fa-angle-left"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="{{'assets/img/sample/image-slider-2.2.jpg'|theme}}" srcset="{{'assets/img/sample/image-slider-2.2@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-slider-2.2@3x.jpg 3x'|theme}}" class="image-slider-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="valign-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="icon fa-angle-right"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div class="best-seller">-->
        <!--<div class="container">-->
        <!--<div class="intro">-->
        <!--<div class="title">-->
        <!--<div class="Line-1"></div>-->
        <!--<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">-->
        <!--<h3 class="uk-card-title">Default</h3>-->
        <!--<p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
        <!--</div>-->
        <!--<button class="uk-button uk-button-danger">boleh</button>-->
        <!--<ul class="uk-accordion">-->
        <!--<li>-->
        <!--<a class="uk-accordion-title" href="#">ayam</a>-->
        <!--<div class="uk-accordion-content">lodehhh</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="uk-accordion-title" href="#">ayam</a>-->
        <!--<div class="uk-accordion-content">lodehhh</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<div class="best-title"><h2>Best Seller Products</h2></div>-->
        <!--<div class="Line-2"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="Shop-our-latest-tren">-->
        <!--Shop our latest trending products and discover our latest style stories-->
        <!--</div>-->
        <!--<div class="best-frames">-->
        <!--<section class="related-products slider">-->
        <!--{% set index = 0 %}-->
        <!--{% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}-->
        <!--{% set index = index+1 %}-->
        <!--<div class="column">-->
        <!--<div class="frame-1">-->
        <!--{% if product.getMainImage %}-->
        <!--<a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">-->
        <!--<img src="{{ product.getMainImage.path }}" class="image-1 cursor-pointer">-->
        <!--</a>-->
        <!--{% endif %}-->
        <!--<div class="Rectangle-7">-->
        <!--<div class="frame-1-price">{{ product.getFinalPriceFormated }}</div>-->
        <!--<div class="frame-1-description cursor-pointer"><a href="/{% for cat in product.categories %}{{cat.slug}}{% endfor %}/{{product.slug}}">{{ product.title }}</a></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% else %}-->
        <!--<div class="no-data">no products</div>-->
        <!--{% endfor %}-->
        <!--</section>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="the-brand-boutique">-->
        <!--<div class="container">-->
        <!--<div class="tbb-title">-->
        <!--<div class="say-hello">Say hello to</div>-->
        <!--<div class="tb2">-->
        <!--<div class="the-brand"><h3>The Brand Boutique!</h3></div>-->
        <!--<hr class="hr-inline">-->
        <!--<div class="see-more"><p>See more</p> <i class="icon fa-chevron-circle-right"></i></div>-->
        <!--</div>-->
        <!--<div class="tb3">A curated collection of your favourites - Behaku, Enamor, Amante, Lovable, Jockey & more.</div>-->
        <!--</div>-->
        <!--<div class="tbb-title-tab">-->
        <!--<div class="intro">-->
        <!--<div class="title">-->
        <!--<div class="Line-1"></div>-->
        <!--<div class="best-title"><h2>Say Hello To The Brand Boutique!</h2></div>-->
        <!--<div class="Line-2"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="Shop-our-latest-tren">-->
        <!--A curated collection of your favourites - Behaku, Enamor, Amante, Lovable, Jockey & more.-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="tbb-frames">-->
        <!--<div class="ui grid">-->
        <!--<div class="cat-home-frame ten wide tablet eight wide computer column">-->
        <!--<div class="frame-1 frame-317">-->
        <!--<img src="{{'assets/img/sample/image-5.2.jpg'|theme}}" srcset="{{'assets/img/sample/image-5.2@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-5.2@3x.jpg 3x'|theme}}" class="image-5">-->
        <!--<div class="tbb-text-01">-->
        <!--<div class="tbb-text-001">Your Outfit BBF!</div>-->
        <!--<div class="tbb-text-002">Panties Wear Shapewear</div>-->
        <!--<div class="tbb-text-003">Start from</div>-->
        <!--<div class="tbb-text-004">Rp100.000</div>-->
        <!--<a href="/panties"><div class="btn-01">SHOP PANTIES <i class="icon fa-shopping-bag"></i></div></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="computer-column eight wide computer column">-->
        <!--<div class="ui one column grid">-->
        <!--<div class="two column row">-->
        <!--{% for key, cat in category %}-->
        <!--{% if key < 2 %}-->
        <!--<div class=" column">-->
        <!--<div class="frame-2">-->
        <!--<div class="frame-2-container">-->
        <!--<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">-->
        <!--<div class="frame-2-content">-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--</div>-->
        <!--{% for key, cat in category %}-->
        <!--{% if cat.slug == 'nightwear' %}-->
        <!--<div class="column">-->
        <!--<div class="frame-2">-->
        <!--<div class="frame-2-container">-->
        <!--<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">-->
        <!--<div class="frame-2-content">-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--</div>-->
        <!--</div>-->
        <!--<div id="responsive-js-2" class="tablet-column six wide tablet column">-->
        <!--<div class="ui one column grid">-->
        <!--{% for key, cat in category %}-->
        <!--{% if key < 2 %}-->
        <!--<div class="cat-home-frame column">-->
        <!--<div class="frame-2">-->
        <!--<div class="frame-2-container">-->
        <!--<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">-->
        <!--<div class="frame-2-content">-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="tablet-column sixteen wide tablet column">-->
        <!--{% for key, cat in category %}-->
        <!--{% if cat.slug == 'nightwear' %}-->
        <!--<div class="column">-->
        <!--<div class="frame-2">-->
        <!--<div class="frame-2-container">-->
        <!--<img src="{% for cacat in cat.thumbnails %}{{cacat.path}}{% endfor %}" class="image-6">-->
        <!--<div class="frame-2-content">-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-1">{{cat.title}}</div></a>-->
        <!--<a href="/{{cat.slug}}"><div class="f2c-2">SHOP NOW <i class="icon fa-shopping-bag"></i></div></a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endif %}-->
        <!--{% endfor %}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="rectangle-5">-->
        <!--<div class="container">-->
        <!--<div class="intro">-->
        <!--<div class="title">-->
        <!--<div class="Line-1"></div>-->
        <!--<div class="best-title"><h2>Check Out Our Latest</h2></div>-->
        <!--<div class="Line-2"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="Shop-our-latest-tren">-->
        <!--What's new, our stores, customer speak and announcements-->
        <!--</div>-->
        <!--<div class="ui grid">-->
        <!--<div id ="responsive-js-1" class="four column row">-->
        <!--<div class="column article-column">-->
        <!--<div class="rectangle-8">-->
        <!--<div class="column">-->
        <!--<img src="{{'assets/img/sample/brastyleguide-4-320-x-320.jpg'|theme}}" srcset="{{'assets/img/sample/brastyleguide-4-320-x-320@2x.jpg 2x'|theme}}", "{{'assets/img/sample/brastyleguide-4-320-x-320@3x.jpg 3x'|theme}}" class="image-02">-->
        <!--</div>-->
        <!--<div class="r5-text-01">-->
        <!--<div class="r5-text-001">SHAPEWEAR</div>-->
        <!--<div class="r5-text-002">For the start in you!</div>-->
        <!--<div class="r5-text-003">-->
        <!--Now you can try and buy our newest arrivals, curvy range, lacy bras and cute bralettes! Find your perfect asize...-->
        <!--</div>-->
        <!--<div class="r5-text-004">-->
        <!--<hr class="hr-inline hi2">-->
        <!--<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="column article-column">-->
        <!--<div class="rectangle-8">-->
        <!--<div class="column">-->
        <!--<img src="{{'assets/img/sample/image-02.jpg'|theme}}" srcset="{{'assets/img/sample/image-02@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-02@3x.jpg 3x'|theme}}" class="image-02">-->
        <!--</div>-->
        <!--<div class="r5-text-01">-->
        <!--<div class="r5-text-001">ACCESSORIES</div>-->
        <!--<div class="r5-text-002">Snug and Comfy Nightwear</div>-->
        <!--<div class="r5-text-003">-->
        <!--I’m wearing my favourite Behaku Cotton CoZzzies pyjama set. Nightwear like this makes me go “awww” and I don’t feel…-->
        <!--</div>-->
        <!--<div class="r5-text-004">-->
        <!--<hr class="hr-inline hi2">-->
        <!--<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="column article-column">-->
        <!--<div class="rectangle-8">-->
        <!--<div class="column">-->
        <!--<img src="{{'assets/img/sample/image-03.jpg'|theme}}" srcset="{{'assets/img/sample/image-03@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-03@3x.jpg 3x'|theme}}" class="image-02">-->
        <!--</div>-->
        <!--<div class="r5-text-01">-->
        <!--<div class="r5-text-001">ACTIVEWEAR</div>-->
        <!--<div class="r5-text-002">Feel Every Move With AlphaSculpt</div>-->
        <!--<div class="r5-text-003">-->
        <!--Special fabrics engineered for different workouts & different body parts. Activewear like this makes me go…-->
        <!--</div>-->
        <!--<div class="r5-text-004">-->
        <!--<hr class="hr-inline hi2">-->
        <!--<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="column article-column">-->
        <!--<div class="rectangle-8">-->
        <!--<div class="column">-->
        <!--<img src="{{'assets/img/sample/image-02.jpg'|theme}}" srcset="{{'assets/img/sample/image-02@2x.jpg 2x'|theme}}", "{{'assets/img/sample/image-02@3x.jpg 3x'|theme}}" class="image-02">-->
        <!--</div>-->
        <!--<div class="r5-text-01">-->
        <!--<div class="r5-text-001">SHAPEWEAR</div>-->
        <!--<div class="r5-text-002">For the start in you!</div>-->
        <!--<div class="r5-text-003">-->
        <!--Now you can try and buy our newest arrivals, curvy range, lacy bras and cute bralettes! Find your perfect asize...-->
        <!--</div>-->
        <!--<div class="r5-text-004">-->
        <!--<hr class="hr-inline hi2">-->
        <!--<div class="read-more">Read more <i class="icon fa-caret-right"></i></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% component 'subscribeform' %}-->

        {% put scripts %}
        <script type="text/javascript">

            if ($(window).width() > 991) {
                $(document).on('ready', function() {
                    $(".related-products").slick({
                        dots: false,
                        infinite: true,
                        centerMode: false,
                        slidesToShow: 5,
                        variableWidth: true,
                        arrows: false
                    });
                });
            } else {
                $(document).on('ready', function() {
                    $(".related-products").slick({
                        dots: false,
                        infinite: true,
                        centerMode: false,
                        slidesToShow: 5,
                        variableWidth: false,
                        arrows: false
                    });
                });
            }
        </script>
        {% endput %}
    </div>
</div>
