title = "Item"
url = "/:category/:slug"
layout = "default"
is_hidden = 0

[myProducts]
category = "{{:category}}"
perPage = 12
orderBy = "id"
sort = "desc"
productPage = "basket"

[myProductDetail]
slug = "{{ :slug }}"
brandPage = "brands"

[myBreadcrumbsProduct]
slug = "{{ :slug }}"
category = "{{ :category }}"
categoryPage = "products"
==
<!-- {% component "myBreadcrumbsProduct" %} -->
<div class="item-page uk-container">
	{% component "myProductDetail" %}
</div>

{% put scripts %}
<script>
	$('.add-to-cart-item').click(function(){
		$('.ui.modal.purchase').modal('show');
		$('.ui.modal.purchase').addClass('active scrolling');
	});

	if ($(window).width() < 992) {
  	$("#ui-modal-purchase").removeClass('ui small modal purchase');
  	$("#ui-modal-purchase").addClass('ui fullscreen modal purchase');
	}
	if ($(window).width() < 768) {
	}
</script>
{% endput %}
