title = "Login"
url = "/login"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[sociallogin]
==
<div class="register uk-container">
    {% if not user %}

    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
    </ul>

    <div class="uk-grid-large" uk-grid>
        <div class="right-column hide-tablet uk-width-expand@s pt60">
            <img src="{{ 'assets/img/general/login-girl-c.jpg' | theme }}" alt="Register">
        </div>
        <div class="left-column login">
            <img src="{{ 'assets/img/general/login-girl-c.jpg' | theme }}" alt="Register" class="show-tablet">
            <p class="fs19 open-sans mb30">Welcome back! Let’s get started</p>
            {% partial account ~ '::signin' %}
        </div>
    </div>
    {% else %}
    <p class="pt40">You have been logged in, {{ user.name }}</p>

    {% endif %}
</div>

{% put scripts %}
<script>
    $('#example1').calendar();
</script>

{#Facebook Login#}
{#<script>#}
{#function logout() {#}
    {#FB.logout(function(response) {#}
        {#// Person is now logged out#}
            {#console.log('Logout: ', response);#}
            {#});#}
    {#}#}

{#// This is called with the results from from FB.getLoginStatus().#}
    {#function statusChangeCallback(response) {#}
        {#console.log('statusChangeCallback');#}
        {#console.log(response);#}
        {#// The response object is returned with a status field that lets the#}
            {#// app know the current login status of the person.#}
                {#// Full docs on the response object can be found in the documentation#}
                    {#// for FB.getLoginStatus().#}
                        {#if (response.status === 'connected') {#}
                            {#// Logged into your app and Facebook.#}
                                {#testAPI();#}
                                {#} else {#}
                                {#// The person is not logged into your app or we are unable to tell.#}
                                    {#document.getElementById('status').innerHTML = 'Please log ' +#}
                                    {#'into this app.';#}
                                    {#}#}
                                {#}#}

                            {#// This function is called when someone finishes with the Login#}
                                {#// Button.  See the onlogin handler attached to it in the sample#}
                                    {#// code below.#}
                                        {#function checkLoginState() {#}
                                            {#FB.getLoginStatus(function(response) {#}
                                                {#statusChangeCallback(response);#}
                                                {#});#}
                                            {#}#}

                                        {#window.fbAsyncInit = function() {#}
                                            {#FB.init({#}
                                                {#appId      : '1142683025891505',#}
                                                {#cookie     : true,  // enable cookies to allow the server to access#}
                                                    {#// the session#}
                                                    {#xfbml      : true,  // parse social plugins on this page#}
                                                        {#version    : 'v3.2' // use graph api version 2.8#}
                                                        {#});#}

                                            {#// Now that we've initialized the JavaScript SDK, we call#}
                                                {#// FB.getLoginStatus().  This function gets the state of the#}
                                                    {#// person visiting this page and can return one of three states to#}
                                                        {#// the callback you provide.  They can be:#}
                                                            {#//#}
                                                                {#// 1. Logged into your app ('connected')#}
                                                                    {#// 2. Logged into Facebook, but not your app ('not_authorized')#}
                                                                        {#// 3. Not logged into Facebook and can't tell if they are logged into#}
                                                                            {#//    your app or not.#}
                                                                                {#//#}
                                                                                    {#// These three cases are handled in the callback function.#}

                                                                                        {#FB.AppEvents.logPageView();#}
                                                                                        {#FB.getLoginStatus(function(response) {#}
                                                                                            {#statusChangeCallback(response);#}

                                                                                            {#});#}

                                                                                        {#};#}

                                                                                    {#// Load the SDK asynchronously#}
                                                                                        {#(function(d, s, id) {#}
                                                                                            {#var js, fjs = d.getElementsByTagName(s)[0];#}
                                                                                            {#if (d.getElementById(id)) return;#}
                                                                                            {#js = d.createElement(s); js.id = id;#}
                                                                                            {#js.src = "https://connect.facebook.net/en_US/sdk.js";#}
                                                                                            {#fjs.parentNode.insertBefore(js, fjs);#}
                                                                                            {#}(document, 'script', 'facebook-jssdk'));#}

                                                                                        {#// Here we run a very simple test of the Graph API after login is#}
                                                                                            {#// successful.  See statusChangeCallback() for when this call is made.#}
                                                                                                {#function testAPI() {#}
                                                                                                    {#FB.api('/me', {fields: 'name, first_name, last_name, email'}, function(response) {#}
                                                                                                        {#console.log('Facebook credential: ');#}
                                                                                                        {#console.log(response);#}
                                                                                                        {#console.log('Profile Picture: https://graph.facebook.com/' + response.id + '/picture?type=square');#}
                                                                                                        {#});#}
                                                                                                    {#}#}


                                                                                                {#</script>#}

{#Google Login#}
{#<script src="https://apis.google.com/js/platform.js" async defer></script>#}
{#<script>#}
{#function onSignIn(googleUser) {#}
    {#var profile = googleUser.getBasicProfile();#}
    {#console.log('Google Credential: ');#}
    {#console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.#}
        {#console.log('Name: ' + profile.getName());#}
        {#console.log('First Name: ' + profile.getGivenName());#}
        {#console.log('Last Name: ' + profile.getFamilyName());#}
        {#console.log('Image URL: ' + profile.getImageUrl());#}
        {#console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.#}
            {#console.log('\n\n');#}
            {#}#}
        {#</script>#}
{% endput %}
