title = "Payment"
url = "/payment"
layout = "default"
is_hidden = 0
==

<div class="cart-page payment-page checkout-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{ 'payment' | page }}">Payment</a></li>
    </ul>

    <div class="uk-grid-medium payment-container" uk-grid>
        <div class="left-column border uk-width-expand@s">
            <div class="summary-title open-sans">Payment via Transfer</div>
            <hr>
            <div class="box-wrapper border">
                <div class="header">
                    <div class="left-header">
                        <span class="fs16 fw500">HOW TO TRANSFER</span>
                    </div>
                    <div class="right-header">
                        <ul class="select-address">
                            <li>
                                <a class="update-address fw500">Payment Bills</a>
                            </li>
                        </ul>
                    </div>
                </div>
                    <hr>
                    <div class="body">
                        <div class="detail-address">
                            <div class="title p16">
                                <span>Follow this steps to transfer via&nbsp;&nbsp;</span>
                                <span>
                                <a href="#modal-overflow" class="update-address" uk-toggle>
                                    <i>
                                        <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                                             srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}}, {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}">
                                    </i>
                                </a>
                            </span>
                            </div>
                            <div class="content">
                                <div class="mb15"><div class="number-list">1</div><div class="uk-display-inline-block">Go to ATM, or open your SMS/M-Banking or E-Banking.</div></div>
                                <div class="mb15"><div class="number-list">2</div><div class="uk-display-inline-block">Insert our account number <b>4977998998</b>.</div></div>
                                <div class="mb15"><div class="number-list">3</div><div class="uk-display-inline-block">Enter amount of payment <b>Rp {{ basket.total_price_formatted }}</b>.</div></div>
                                <div class="mb15"><div class="number-list">4</div><div class="uk-display-inline-block">Save the proof of payment you got.</div></div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="info-box">
                <p>
                    Make your payment directly to our account. please use your order ID as a payment reference. Your order
                    will not be sent until your payment have been sent to our account. For further information please contact
                    our <span class="turtle-green">customer support</span>
                </p>
            </div>
        </div>
    </div>
</div>
