title = "Register"
url = "/register"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[sociallogin]
==
<div class="register uk-container">
    {% if not user %}

        <ul class="uk-breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
        </ul>

        <div class="uk-grid-large" uk-grid>
            <div class="left-column">
                <img src="{{ 'assets/img/general/register-c.jpg' | theme }}" alt="Register" class="show-tablet">
                <p class="fs17 open-sans mb30">Register to get your skin care products</p>
                {% partial account ~ '::register' %}
            </div>
            <div class="right-column hide-tablet uk-width-expand@s pt60">
                <img src="{{ 'assets/img/general/register-c.jpg' | theme }}" alt="Register">
            </div>
        </div>
    {% else %}

        <a class="item" href="#" data-request="onLogout" data-request-data="redirect: '/'">Sign Out</a>

        {% partial account ~ '::activation_check' %}

        {% partial 'user-update' %}

        <!-- {% partial account ~ '::deactivate_link' %} -->

    {% endif %}
</div>

{% put scripts %}
    <script>
        $('#example1').calendar();
    </script>
{% endput %}
