<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('richmall/homepage/sliders') ?>">Sliders</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>
