.contact-page {
    margin-bottom: 72px;
    .container {
        max-width: 630px;
        margin: 0 auto;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-align: left;
            margin-bottom: 15px;
        }
        .uk-input, .uk-textarea {
            margin-top: 5px;
        }
        .uk-textarea {
            padding-top: 10px;
            padding-left: 17px;
            border-radius: 3px;
            &::placeholder {
                color: #d2d2d2;
                font-size: 16px;
            }
        }
        .button-container {
            margin-top: 30px;
            margin-left: auto;
        }
        #message-status {
            margin-top: 20px;
            .uk-alert-success {
                margin-bottom: 0;
            }
        }
        #change-password-field {
            display: none;
        }
    }
}

@media only screen and (max-width: 767px) {
  .contact-page {
      margin-top: 20px;
      margin-bottom: 45px;
      .container {
          h2 {
              font-size: 16px;
              margin-bottom: 11px;
          }
          hr {
              margin-top: 0;
          }
          .uk-textarea {
              padding-left: 12px;
          }
      }
  }
}
