.footer {
    line-height: 1.5;
    .main-footer {
        padding: 40px 0 60px;
        background-color: #E9ECEE;
        .footer-1 {
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(0, 62, 90, 0.05);
            ul {
                align-items: center;
                li {
                    margin-left: 10px;
                    &:nth-child(2) {
                        margin-left: 23px;
                    }
                }
            }
            .text {
                padding-top: 28px;
            }
        }
        .footer-2 {
            padding: 30px 0;
            border-bottom: 1px solid rgba(0, 62, 90, 0.05);
            ul {
                li {
                    margin-bottom: 10px;
                    color: $text-black;
                    &:first-child {
                        margin-bottom: 20px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: $text-black;
                    }
                }
            }
        }
        .footer-3, .footer-4 {
            padding: 30px 0;
            border-bottom: 1px solid rgba(0, 62, 90, 0.05);
            p {
                margin-bottom: 20px;
            }
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .footer-4 {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    .copy-right {
        font-size: 12px;
        color: #9b9b9b;
        background-color: #f6f6f6;
        text-align: center;
        padding: 20px 0;
    }

    .top-footer {
        padding: 35px 0;
        background-color: #f8f8f8;
        .r1-text-01 {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: $turtle-green;
            margin-top: 10px;
        }

        .r1-text-02 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: #9b9b9b;
            margin-top: 6px;
        }
    }

    .bottom-footer {
        padding: 48px 0 77px 0;
        .footer-list-title {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: #4a4a4a;
            margin-bottom: 11px;
            text-align: left;
        }

        .footer-list-item {
            text-align: left;
            a {
                font-size: 16px;
                line-height: 2.19;
                color: #9b9b9b;
            }
        }
        .footer-social {
            text-align: left;
            margin-top: 19px;
            .footer-list-social {
                display: inline;
                margin-right: 18px;
            }
        }
    }

}

@media only screen and (max-width: 991px) {
    .footer {
        .top-footer {
           padding: 22px 0;
           img {
               width: 20px;
           }
           .r1-text-01 {
               margin-top: 8px;
               font-size: 12px;
           }
           .r1-text-02 {
               margin-top: 2px;
               font-size: 14px;
           }
        }
        .bottom-footer {
            padding: 40px 0 50px 0;
            .footer-list-title {
                font-size: 16px;
            }
            .footer-list-item a {
                font-size: 14px;
                line-height: 2.14;
            }
            .footer-social-wrapper-tab {
                margin-top: 36px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        .top-footer {
            padding: 30px 0 50px 0;
        }
        .bottom-footer {
            padding: 35px 0 28px 0;
            [class*='uk-child-width'] > * {
                width: 50%
            }
            .uk-grid > .uk-grid-margin, * + .uk-grid-margin {
                margin-top: 0;
            }
            .second-row-mobile {
                margin-top: 32px !important;
            }
            .footer-social-wrapper-tab {
                margin-top: 56px;
                .footer-list-title, ul {
                    text-align: center;
                }
            }
        }
    }
}
