/* Header */
.header {
    ::placeholder {
        color: $placeholder;
    }
    .top-header {
        height: 30px;
        background-color: $light-grey;
        .float-right {
            line-height: 30px;
            a {
                color: $black-text;
                margin-left: 28px;
                font-size: 12px;
            }
        }
    }
    .bottom-header {
        height: 70px;
        background-color: $blue-richmall;
        .logo {
            line-height: 70px;
            img {
                height: 40px;
            }
        }
        .input-group {
            line-height: 70px;
            .form-control {
                padding-left: 55px;
            }
            img {
                z-index: 99;
                left: 15px;
                top: 50%;
                transform: translate(0, -50%);
                width: 21px;
            }
            .btn {
                width: 120px;
            }
        }
        .local-grocery img {
            width: 24px;
        }
        .btn {
            width: 100px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        .top-header {
            display: none;
        }
        .bottom-header {
            height: auto;
            .btn, .form-control {
                padding: 6px 0;
            }
            .header-md-1 {
                padding: 15px 0;
                .logo {
                    line-height: normal;
                    text-align: center;
                    img {
                        height: 30px;
                    }
                }
            }
            .header-md-2 {
                padding-bottom: 10px;
                .input-group {
                    line-height: normal;
                    .form-control {
                        height: 35px;
                        padding-left: 35px;
                    }
                    img {
                        width: 16px;
                        left: 10px;
                    }
                    .btn {
                        width: 80px;
                    }
                }
                .local-grocery img {
                    width: 24px;
                }
                .register-login-btn {
                    margin-right: 10px;
                    margin-left: 4px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
}
