.homepage {
    background-color: $light-grey;
    padding: 20px 0 96px;
    .heading-section {
        padding: 30px 0 20px;
    }
    .product-card {
        border: 1px solid #dee2e6;
        border-top: 0;
        border-right: 0;
        background-color: #fff;
        max-width: 196px;
        max-height: 346px;
        padding: 15px 15px 25px;
        cursor: pointer;
        &:last-child {
            border-right: 1px solid #dee2e6;
            border-bottom-right-radius: 3px;
        }
        img {
            width: 100%;
            height: 165px;
            object-fit: contain;
        }
        p.product-title {
            font-size: 14px;
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin: 0;
            max-height: 38px;
            line-height: 19px;
            overflow: hidden;
            color: #4c4c4c;
            word-wrap: break-word;
            height: 38px;
        }
        h5 {
            line-height: 1.3;
            margin-top: 10px;
        }
        .message-box {
            border-radius: 3px;
            background-color: rgba(217,27,91,.2);
            color: $red-richmall;
            padding: 3px 0;
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
        }
        p.shop-name {
            font-size: 12px;
            color: #b6b6b6;
            margin-top: 20px;
        }
    }
    .section-1 {
        .category-list {
            background-color: #fff;
            border-radius: 3px;
            border: solid 0.5px #dee2e6;
            padding: 10px 15px 0 15px;
            max-height: 460px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0;  /* Remove scrollbar space */
                background: transparent;  /* Optional: just make scrollbar invisible */
            }
            /* Optional: show position indicator in red */
            &::-webkit-scrollbar-thumb {
                background: #FF0000;
            }
            .header {
                margin-bottom: 10px;
            }
            .item-list {
                li {
                    border-bottom: 1px solid #e6e6e6;
                    padding: 10px 0;
                    position: relative;
                    &:last-child {
                        border-bottom: none;
                    }
                    p {
                        margin-left: 15px;
                    }
                    .right-arrow {
                        position: absolute;
                        right: 0;
                        bottom: 15px;
                    }
                }
            }
        }
        .slider {
            height: 460px;
            width: auto;
            position: relative;
            .slider-image {
                width: 100%;
                height: 460px;
                object-fit: cover;
            }
            .next-slide, .previous-slide {
                opacity: 0.5;
                border-radius: 3px;
                background-color: #d91b5b;
                position: absolute;
                top: 210px;
                cursor: pointer;
                img {
                    padding: 12px;
                }
                &:hover {
                    opacity: 1;
                }
            }
            .next-slide {
                right: 0;
            }
            .previous-slide {
                left: 0;
            }
        }
    }
    .section-2 {
        margin-top: 20px;
        line-height: 1.5;
        .sec-2-1 {
            background-repeat: no-repeat;
            background-size: cover;
            height: 315px;
            padding: 20px 42px 20px 30px;
        }
        .sec-2-2 {
            padding: 20px 40px 20px 20px;
            position: relative;
            background-color: #fff;
            &.big-mart {
                border-top-right-radius: 3px;
                border-bottom: 0 !important;
            }
            &.big-auto {
                border-bottom-right-radius: 3px;
            }
            .text-red {
                position: absolute;
                bottom: 20px;
            }
            img {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
        .sec-2-3 {
            background-color: #fff;
            border-radius: 3px;
            border: solid 0.5px #dee2e6;
            border-top: 3px solid #d91b5b;
            padding: 40px 40px 30px;
            line-height: 1.5;
            text-align: center;
            min-height: 315px;
            h5 {
                margin: 10px auto;
                max-width: 150px;
            }

        }
    }
    .section-3 {
        .box-column-group {
            &:first-child {
                .sec-3-box {
                    &:first-child {
                        border-top-left-radius: 3px;
                    }
                    &:last-child {
                        border-bottom-left-radius: 3px;
                    }
                }
            }
            &:last-child {
                .sec-3-box {
                    border-right: 1px solid #dee2e6 !important;
                    &:first-child {
                        border-top-right-radius: 3px;
                    }
                    &:last-child {
                        border-bottom-right-radius: 3px;
                    }
                }
            }
            .sec-3-box {
                border-radius: 0;
                border-right: 0 !important;
                height: 110px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                &:first-child {
                    border-bottom: 0 !important;
                }
                img {
                    height: 70px;
                    width: 70px;
                }
            }
        }
    }
    .section-4 {
        line-height: 1.5;
        padding-bottom: 30px;
        .tab-header {
            padding: 28px;
            border: 1px solid #dee2e6;
            border-right: 0;
            text-align: center;
            background-color: #fff;
            cursor: pointer;
            &:first-child {
                border-top-left-radius: 3px;
            }
            &:last-child {
                border-top-right-radius: 3px;
                border-right: 1px solid #dee2e6;
            }
            &.active {
                color: $red-richmall;
                font-weight: bold;
                border-bottom: 3px solid #d91b5b;
            }
        }
        .content {
            .content-cover {
                border-bottom-left-radius: 3px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .section-5 {
        background-color: #fff;
        padding-bottom: 30px;
        line-height: 1.5;
        .content {
            justify-content: space-between;
            .product-card {
                border: 1px solid #dee2e6;
                border-radius: 3px;
                max-width: 192px;
                max-height: 324px;
                img {
                    height: 160px;
                    object-fit: contain;
                }
                p.product-title {
                    margin-top: 15px;
                }
                h5 {
                    span {
                        font-size: 12px;
                        font-weight: normal;
                        color: $text-black;
                    }
                }
                .location {
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    img {
                        width: auto;
                        height: auto;
                        margin-bottom: 3px;
                        margin-right: 5px;
                    }
                }
                p.shop-name {
                    margin-top: 10px;
                }
            }
        }
    }
    .section-6 {
        .testimonial {
            margin-right: 23px;
            border: 1px solid #dee2e6;
            border-radius: 3px;
            .video-wrapper {
                height: 168px;
                position: relative;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                .backdrop {
                    height: 100%;
                    width: 100%;
                    background: $text-black;
                    opacity: .3;
                    position: absolute;
                    top: 0;
                }
                img {
                    width: 100%;
                    height: 168px;
                    object-fit: cover;
                }
                .play-button {
                    cursor: pointer;
                    img {
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top:0;
                        bottom:0;
                        margin: auto;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
            .text-wrapper {
                padding: 20px 30px 20px;
                background-color: #fff;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                .description {
                    line-height: 1.5;
                    font-size: 12px;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    max-height: 69px;
                    overflow: hidden;
                    word-wrap: break-word;
                }
                a.text-red {
                    font-size: 12px;
                    line-height: 1.5;
                    font-weight: bold;
                }
            }

        }
    }
    .section-7 {
        .content {
            .item {
                background-color: #fff;
                border: 1px solid #dee2e6;
                border-right: 0;
                text-align: center;
                padding: 32px 20px 25px;
                &:first-child {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
                &:last-child {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-right: 1px solid #dee2e6;
                }
                img {
                    width: 70px;
                    height: 70px;
                }
                .title {
                    font-weight: bold;
                    margin-top: 10px;
                }
                .subtitle {
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
    }
}
