.item-page {
    margin-bottom: 132px;
    .item-image {
        width: 363px;
        .item-image-main img {
            width: 363px;
            height: 363px;
            object-fit: cover;
            border-radius: 5px;
        }
        .item-image-sm {
            margin-right: 17px;
            margin-top: 17px;
        }

        .item-image-sm:hover {
            cursor: pointer;
        }

        .item-image-sm:focus {
            outline: none;
        }
        .item-image-sm img {
            max-width: 93px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .img-gallery.active, .box-3.active, .img-gallery-color.active {
            border: solid 1px #f5a623;
        }
        .item-image-sm.color-image {
            display: inline-block;
            margin-right: 10px;
            margin-top: 13px;
        }
    }
    .uk-grid > .buy-config {
        padding-left: 30px;
    }
    .add-to-cart {
        margin-top: 75px;
        .button-wrapper {
            align-self: flex-end;
        }
    }
    .buy-config {
        width: 450px;
        .bc-text {
            max-width: 437px;
        }
        .bc-text-01 {
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            color: #4a4a4a;
            max-width: 420px;
        }
        .increment-btn .ui[class*="left action"].input>.button {
            height: 52px;
            padding: 0 0;
            line-height: 50px;
        }

        .increment-btn .ui[class*="left action"].input>.button:first-child {
            border-radius: 3.8px 0 0 3.8px;
        }

        .increment-btn .ui[class*="left action"].input>.button:last-child {
            border-radius: 0 3.8px 3.8px 0;
        }

        .increment-btn .ui.input input {
            height: 50px;
            text-align: center;
            padding: 0;
            border-width: 1px;
            line-height: 50px;
            margin-right: -5px;
            margin-left: -5px;
            color: $light-black;
            font-size: 16px;
            font-weight: 500;
            max-width: 75px;
            &:focus {
                outline: none;
            }
        }

        .item-btn-group .increment-btn {
            float: left;
            line-height: 28px;
            &:focus {
                outline: none;
            }
        }

        .increment-btn .ui.button {
            background: #F6F6F6;
            border: solid 1px #dfdfdf;
            color: #8c8c8c;
        }

        .increment-btn .ui.button:hover {
            background: #e0e1e2 none;
            box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
            color: rgba(0,0,0,.5);
        }

        .btn-01 {
            border-radius: 3px;
            background-color: $turtle-green;
            box-shadow: 0 1px 1px 0 rgba(122, 122, 122, 0.5);
            padding: 15px 0;
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
            margin-top: 0;
            width: 100%;
            margin-right: 0;
        }
        button.btn-01 {
            line-height: normal;
            border-width: 0;
            border-style: none;
            border-color: unset;
            border-image: none;
            cursor: pointer;
            align-items: stretch;
            text-align: center;
        }

        button.btn-01:focus {
            outline: none;
        }
    }
    .courier {
        border-radius: 5px;
        padding: 18px 20px 24px 18px;
        .courier-item {
            margin-bottom: 19px;
            p {
                font-weight: 500;
            }
        }
        .customer-response {
            .p16 {
                font-weight: 500;
            }
        }
        .live-chat-button {
            border: 1px solid $turtle-green;
            border-radius: 3px;
            width: 100%;
            .p16 {
                font-weight: bold;
            }
        }
    }
    .report-product {
        border-radius: 5px;
        text-align: center;
        padding: 15px 0;
    }
    .detail-product {
        margin-top: 20px;
        p {
            line-height: 1.5;
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    .description {
        margin-bottom: 50px;
        .description-text {
            font-size: 16px;
            line-height: 1.88;
            ul {
                padding-left: 30px;
                margin-top: 10px;
            }
            li {
                list-style-type: disc;
            }
        }
    }
}

/* Slick */

ul.slick-dots {
    display: none !important;
}
.slick-prev, .slick-next {
    border: 1px solid #dfdfdf;
    text-align: center;
    cursor: pointer;
    font-size: 1.7rem;
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    width: 72px;
    height: 27px;
}
.slick-prev:focus, .slick-next:focus {
    outline: none;
}
.basket-content-wrapper {
    padding: 46px !important;
    padding-top: 22px!important;
    .title-2 {
        font-size: 23px;
    }
    .item-wrapper {
        border-radius: 5px;
        border: solid 1px #a5a5a5;
        margin-top: 23px;
        margin-bottom: 20px;
        padding: 22px;
        .img-responsive {
            width: 100%;
            height: 264px;
            height: 240px;
            object-fit: cover;
        }
        .title-item-modal {
            line-height: 1.4;
            font-size: 20px;
            color: #575757;
            /*font-weight: bold;*/
        }
        .iw-01 {
            font-size: 15px;
        }
        .increment-btn .ui.input input {
            max-width: 45px;
        }
        .total-price-modal {
            font-size: 18px;
            font-weight: bold;
            line-height: 27px;
        }
        .ui.action.input>.button {
            padding: .45em!important;
        }
    }
    .sub-title-modal, .iw-01 {
        font-family: 'Helvetica-Neue-Interface';
        font-size: 14px;
        font-weight:  bold;
    }
    .sub-title-modal {
        padding-bottom: 16px;
    }
    .btn-01 {
        text-align: center;
        padding-top: 17px;
        padding-bottom: 17px;
        a {
            color: #fff;
        }
    }
    .ui.disabled.input {
        opacity: 1!important;
    }

}
.total-modal-wrapper {
    min-height: 240px;
    border-radius: 5px;
    border: solid 1px #a5a5a5;
    padding: 22px;
    .coupon-form {
        display: inline-block;
        width: 135px;
        height: 44px;
        font-size: 14px;
        font-weight: bold;
        border: solid 1px #dfdfdf;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 1rem;
        &:focus {
            outline: none;
        }
    }

    .coupon-submit {
        width: 115px;
        display: inline-block;
        margin-left: -4px!important;
        height: 44px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #f5a623;
        border-style: none;
        font-family: 'Helvetica-Neue-Interface';
        font-size: 14px;
        font-weight: bold;
        line-height: 1.33;
        color: #ffffff;
        padding: 10px;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    form {
        margin-bottom: 15px;
    }
    .sub-title-modal {
        padding-bottom: 0;
        line-height: 1.54;
    }
    .tmw-text-01 {
        font-size: 13px;
        line-height: 1.54;
    }
    .icon-footer-01:first-child {
        margin-right: 0px;
    }
    .tmw-row {
        /*border-bottom: solid 1px #dfdfdf;*/
    }
    .left-mod-col {
        float: left;
    }
    .right-mod-col {
        float: right;
    }
}
.basket-content-wrapper .item-wrapper #modal-purchase-1-right .img-responsive {
    display: none;
}



@media only screen and (max-width: 991px) {
    .h28 {
        font-size: 24px;
    }
    .item-page {
        margin-bottom: 75px;
        .item-image-buy-config {
            width: 100%;
            .mb120 {
                margin-bottom: 16.5px;
            }
        }
        .item-image {
            width: 330px;
            .item-image-main img {
                width: 330px;
                height: 330px;
                object-fit: cover;
                border-radius: 5px;
            }
            .item-image-sm {
                margin-right: 14px;
                margin-top: 14px;
            }

            .item-image-sm:hover {
                cursor: pointer;
            }

            .item-image-sm:focus {
                outline: none;
            }

            .item-image-sm img {
                max-width: 76px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }
        .buy-config {
            width: initial;
            h1 {
                font-size: 26px;
                margin-bottom: 21px;
            }
            .p16 {
                font-size: 14px;
            }
            .mb13 {
                margin-bottom: 8px;
            }
            .bc-text-01 {
                font-size: 22px;
                line-height: 1.34;
            }

            .add-to-cart {
                //margin-top: 30px;
            }

            .increment-btn .ui[class*="left action"].input>.button {
                height: 48px;
                line-height: 46px;
            }

            .increment-btn .ui[class*="left action"].input>.button:first-child {
                border-radius: 3.1px 0 0 3.1px;
            }

            .increment-btn .ui[class*="left action"].input>.button:last-child {
                border-radius: 0 3.1px 3.1px 0;
            }

            .increment-btn .ui.input input {
                height: 46px;
                line-height: 46px;
                margin-right: 0;
                margin-left: 0;
                font-size: 16px;
                max-width: 69px;
            }

            .btn-01 {
                border-radius: 2.5px;
                padding: 14.5px 0;
                font-size: 16px;
            }

        }
        .detail-product {
            margin-top: 20px;
            .mb28 {
                margin-bottom: 19px;
            }
            p {
                line-height: 1.6;
                font-size: 15px;
            }
        }
        .description {
            margin-bottom: 30px;
            .mb25 {
                margin-bottom: 16px;
            }
            .description-text {
                font-size: 15px;
                line-height: 2;
                ul {
                    padding-left: 25px;
                    margin-top: 5px;
                }
                li {
                    list-style-type: disc;
                }
            }
        }
        .courier {
            padding: 18px 27px 22px 28px;
            .courier-item {
                margin-bottom: 12px;
            }
            .live-chat-button {
                width: 230px;
            }
            hr {
                margin-top: 17px;
                margin-bottom: 18px;
            }
        }
        .report-product {
            border-radius: 5px;
            text-align: center;
            padding: 15px 0;
        }
        .best-seller {
            .mb45.mt45 {
                margin-top: 27px;
                margin-bottom: 26px;
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .h28 {
        font-size: 18px;
    }
    .item-page {
        margin-bottom: 60px;
        margin-top: 15px;
        .item-image-buy-config {
            width: initial;
        }
        .medium-text-green {
            font-size: 16px;
        }
        .item-image {
            width: initial;
            .item-image-main img {
                height: 100%;
            }
            .img-gallery.active, .box-3.active, .img-gallery-color.active {
                border: none;
            }
            .uk-slideshow-nav {
                a {
                    background-color: $white;
                    border-color: transparent;
                }
                .uk-active a {
                    background-color: $turtle-green;
                }
            }
        }
        .uk-grid > .buy-config {
            padding-left: 15px;
        }
        .buy-config {
            .bc-text-01 {
                font-size: 20px;
                line-height: normal;
                max-width: 254px;
            }
            p.light-grey {
                font-size: 12px;
            }
            .uk-grid {
                flex-wrap: initial;
            }
            .add-to-cart {
                margin-top: 21px;
            }
            .increment-btn .ui[class*="left action"].input>.button {
                height: 41px;
                line-height: 39px;
            }
            .increment-btn .ui[class*="left action"].input>.button:first-child {
                border-radius: 2.6px 0 0 2.6px;
            }
            .increment-btn .ui[class*="left action"].input>.button:last-child {
                border-radius: 0 2.6px 2.6px 0;
            }

            .increment-btn .ui.input input {
                height: 39px;
                line-height: 39px;
                margin-right: 0;
                margin-left: 0;
                font-size: 18px;
                max-width: 62px;
            }

            .btn-01 {
                border-radius: 2.6px;
                padding: 12.5px 0;
                font-size: 13.5px;
            }
            button.btn-01 {
                line-height: normal;
                border-width: 0;
                border-style: none;
                border-color: unset;
                border-image: none;
                cursor: pointer;
                align-items: stretch;
                text-align: center;
            }

            button.btn-01:focus {
                outline: none;
            }
        }
        .detail-product {
            margin-top: 20px;
            p {
                line-height: 1.7;
                font-size: 14px;
                margin-bottom: 5px;
            }
            .uk-grid {
                margin-top: 0;
            }
        }
        .description {
            margin-bottom: 25px;
            .description-text {
                font-size: 15px;
                line-height: 2;
                ul {
                    margin-top: 5px;
                }
            }
        }
        .courier {
            padding: 18px 18px 24px 18px;
            p {
                font-size: 15px;
            }
            .courier-item {
                p {
                    font-weight: 500;
                }
            }
            .customer-response {
                .p16 {
                    font-weight: 500;
                }
            }
            .live-chat-button {
                width: 100%;
                p {
                    font-size: 14px;
                }
            }
        }
        .best-seller {
            padding-right: 15px;
            .best-frames {
                margin-right: -15px;
            }
            .mb45.mt45 {
                margin-top: 36px;
                margin-bottom: 17px;
            }
            .highlight-item {
                max-width: 190px;
                .small-title {
                    margin-top: 10px;
                    min-height: 0;
                }
                .previous-price {
                    margin-top: 8px;
                    min-height: 0;
                    margin-bottom: 2px;
                }
            }
            .slick-slide {
                margin-right: 16.5px;
            }
        }
    }
    .basket-content-wrapper {
        padding: 20px!important;
        padding-top: 26px!important;
        padding-bottom: 39px!important;
        .title-2 {
            font-size: 20px;
        }
        #modal-purchase-1-left {
            display: none;
        }
        .item-wrapper #modal-purchase-1-right .img-responsive {
            display: block;
            height: 100px;
            max-width: 75px;
            float: left;
            margin-right: 1rem;
        }
        .item-wrapper .title-item-modal {
            font-size: 1rem;
            line-height: 1.47;
            float: left;
            max-width: 200px;
        }
        .btn-01 {
            margin-top: 21px;
        }
        .item-wrapper .total-price-modal {
            font-size: 16px;
        }
    }
    .total-modal-wrapper {
        min-height: 0;
    }
}

///* Iphone 6 above */
//@media only screen and (max-width: 375px) {
//  .basket-content-wrapper {
//    .item-wrapper .title-item-modal {
//      max-width: 160px;
//    }
//    .item-wrapper .increment-btn .ui.input input {
//      max-width: 35px;
//    }
//  }
//}
//
@media only screen and (max-width: 340px) {
    .item-page {
        .uk-breadcrumb {
            margin-top: 20px;
        }
    }
  //.basket-content-wrapper {
  //  .item-wrapper #modal-purchase-1-right .img-responsive {
  //    width: 35%;
  //    max-width: 60px;
  //    height: 90px;
  //  }
  //  .item-wrapper .title-item-modal {
  //    width: 60%;
  //  }
  //}
  //.total-modal-wrapper .coupon-form {
  //  width: 106px;
  //}
  //.total-modal-wrapper .coupon-submit {
  //  font-weight: normal;
  //  width: 102px;
  //  font-size: 12px;
  //  /*line-height: 2.3;*/
  //}
  //.icon-footer-01 {
  //  width: 49%;
  //}
}
