.payment-page {
    .payment-container {
        max-width: 663px;
        margin: 0 auto;
    }
    .left-column {
        margin-left: 0;
        .countdown-wrapper {
            .countdown-title {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                text-align: center;
                color: #4a4a4a;
                margin-top: 33px;
                margin-bottom: 21px;
            }
            .countdown-timer {
                border-radius: 5px;
                border: 1.5px solid #94c33f;
                padding: 8px 32px;
                text-align: center;
                max-width: 210px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-family: Roboto;
                    font-size: 20px;
                    color: #94c33f;
                }
            }
        }
        .box-wrapper .body {
            padding-bottom: 9.5px;
            .detail-address .title {
                margin-bottom: 23px
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .payment-page {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .payment-page {
        padding-bottom: 77px;
        padding-top: 20px;
        .payment-container {
            max-width: 100%;
        }
        .left-column {
            padding: 14px 16px 16px 16px;
            .box-wrapper {
                .header {
                    padding-left: 18px;
                    padding-right: 18px;
                    .left-header .fs16 {
                        font-size: 14px !important;
                    }
                    .right-header {
                        ul.select-address li a {
                            font-size: 14px;
                        }
                    }
                }
                .body {
                    padding: 14px 19px 10px 19px;
                    .detail-address {
                        .title.p16 {
                            font-size: 14px;
                            line-height: 1.5;
                        }
                    }
                    .content {
                        margin-bottom: 0 !important;
                        .mb15 {
                            display: flex;
                        }
                        font-size: 14px;
                        .number-list {
                            padding: 2px;
                            flex: 0 0 18px;
                            max-height: 18px;
                        }
                    }
                }
            }
        }
    }
}
