.radio-item {
    position: relative;
    padding: 0;
    //margin: 10px 0 0;
    margin-bottom: 10px;
}

.radio-item input[type='radio'] {
    display: none;
}

.radio-item label {
    color: $brownish-grey;
    font-weight: 500;
    font-size: 16px;
}

.radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 15px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 11px;
    border: 1px solid $turtle-green;
    background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 2px;
    content: " ";
    display: block;
    background: $turtle-green;
}

.product-list {
    padding-bottom: 90px;
    .light-title {
        color: $light-grey;
        font-size: 15px;
        margin-bottom: 13px;
    }
    .left-column {
        width: 269px !important;
        .side-menu, .clear-filter {
            border: 1px solid $border;
            border-radius: 5px;
        }
        .side-menu {
            margin-bottom: 17px;
            padding: 17px 21px 22px 18px;
            li {
                a {
                    font-weight: 500;
                    color: $brownish-grey;
                }
            }
        }
        .clear-filter {
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: $brownish-grey;
            img {
                margin-right: 10px;
            }
        }
    }
    .right-column {
        .header-image {
            img {
                border-radius: 5px;
                width: 100%;
            }
            margin-bottom: 42px;
        }
        .product-items {
            .products-title {
                font-size: 15px;
                line-height: 1.5;
                margin-bottom: 19px;
            }
            .uk-grid-small > .uk-grid-margin {
                margin-top: 43px;
            }
            .best-seller {
                .highlight-item {
                    .small-title {
                        margin-top: 10.3px;
                        line-height: 1.5;
                        font-size: 14px;
                        min-height: 42px;
                    }
                    .price {
                        font-size: 17px;
                        margin-top: 3.5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .product-list {
        .right-column {
            .header-image {
                margin-bottom: 20px;
            }
        }
    }

}

@media only screen and (max-width: 767px) {
    .product-list {
        margin-top: 17px;
        .left-column {
            display: none;
        }
        .right-column {
            .header-image {
                margin-bottom: 14px;
            }
            .product-items {
                .uk-grid-small > .uk-grid-margin {
                    margin-top: 26px;
                }
                .products-title {
                    font-size: 12px;
                    margin-bottom: 17px;
                }
                .best-seller {
                    .highlight-item {
                        .small-title {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
