.register {
    padding-bottom: 116px;
    .left-column {
        width: 390px;
        margin-left: 56px;
        .account-title {
            margin-top: 10px;
        }
        hr {
            margin-top: 15px;
            margin-bottom: -3px;
        }
        .uk-input {
            margin-top: 5px;
        }
        &.login {
            margin-right: 40px;
            .fb-login-button.fb_iframe_widget {
                display: block !important;
            }
        }
    }

    .right-column {
        //margin-right: 56px;
        text-align: center;
        img {
            max-width: 80%;
        }
    }

    .uk-button {
        line-height: 48px;
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        border: 0;
    }


    // Social media button
    *, *::before, *::after {
        box-sizing: border-box;
    }

    .block-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
    }
    .block-wrap > div {
        width: 100%;
        text-align: center;
    }

    .btn-google, .btn-fb {
        display: inline-block;
        border-radius: 1px;
        text-decoration: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
        //transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
        transition: all .2s ease-in-out;
        width: 100%;
        margin-bottom: 12px;
    }
    .btn-google .google-content, .btn-google .fb-content, .btn-fb .google-content, .btn-fb .fb-content {
        display: flex;
        align-items: center;
        width: 300px;
        height: 50px;
    }
    .btn-google .google-content .logo, .btn-google .fb-content .logo, .btn-fb .google-content .logo, .btn-fb .fb-content .logo {
        padding: 15px;
        height: inherit;
    }
    .btn-google .google-content svg, .btn-google .fb-content svg, .btn-fb .google-content svg, .btn-fb .fb-content svg {
        width: 18px;
        height: 18px;
    }
    .btn-google .google-content p, .btn-google .fb-content p, .btn-fb .google-content p, .btn-fb .fb-content p {
        width: 100%;
        line-height: 1;
        letter-spacing: 0.21px;
        text-align: center;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
    }

    .btn-google {
        &:active {
            background-color: #eee;
        }
        .google-content p {
            color: #757575;
        }
    }

    .btn-fb {
        padding-top: 1.5px;
        background-color: #3b5998;
        .fb-content p {
            color: rgba(255, 255, 255, 0.87);
        }
    }
    //Social media button end
}

@media only screen and (max-width: 1199px) {
    .register {
        padding-bottom: 80px;
        .uk-grid-large {
            justify-content: center;
            margin-right: -40px;
            .left-column {
                //padding-left: 0;
                margin-left: 0;
                img {
                    margin-bottom: 33.5px;
                    margin-top: 15px;
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                }
                &.login {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .register {
        padding-bottom: 72px;
        .uk-grid-large {
            margin-right: 0;
            .left-column {
                img {
                    margin-bottom: 25px;
                    margin-top: 35px;
                    width: 80%;
                }
                .fs20 {
                    font-size: 18px;
                    text-align: center;
                    margin-bottom: 23px;
                }
            }
        }
    }
}
