$turtle-green: #94c33f;
$white: #ffffff;
$light-green: #a4b943;
$light-grey: #f6f6f6;
$brownish-grey: #696969;
$light-black: #4a4a4a;
$black-text: #404041;
$border: #ececec;
$red: #e5193a;

$dark-red: #c71231;
$neon-red: #e31f3f;
$placeholder: #d1d1d1;
$butterscotch: #f3b042;
$background-page: #f4f4f4;
$text-grey: #9b9b9b;
$text-red: #e21f41;

$blue-richmall: #003e5a;
$red-richmall: #d91b5b;
$text-black: #404041;
