{% if (basket.products|length == 0) %}
    <div>Cart is empty!</div>
{% else %}
    <div class="uk-grid-medium" uk-grid>
        <div class="left-column border uk-width-expand@s">
            <div class="summary-title open-sans">Checkout</div>
            <hr>
            <div class="box-wrapper border">
                <div class="header">
                    <div class="left-header">
                        <i>
                            <img src="{{'assets/img/icon/map-pin-green.png'|theme}}"
                                 srcset="{{'assets/img/icon/map-pin-green@2x.png 2x'|theme}},
                        {{'assets/img/icon/map-pin-green@3x.png 3x'|theme}}" class="icon-left-text">
                        </i>
                        <span class="fs16 fw500">Address</span>
                    </div>
                    <div class="right-header">
                        <ul class="select-address">
                            <li>
                                {% if not user.jkshop_ds_address %}
                                    <a href="#modal-overflow" data-request="getProvinces" class="update-address" uk-toggle>Add New Address</a>
                                {% endif %}
                                <div id="modal-overflow" class="modal-address" uk-modal>
                                    <div class="uk-modal-dialog uk-margin-auto-vertical">

                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header">
                                            <h4 class="uk-modal-title fs16"><b>Shipping Address</b></h4>
                                        </div>

                                        <div class="uk-modal-body" uk-overflow-auto>

                                            {{ form_ajax('onUpdate', { model: user }) }}

                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="full-name">Receiver Name</label>
                                                <div class="uk-form-controls">
                                                    <input name="name" class="uk-input" type="text" id="full-name" value="{{ form_value('name') }}" required>
                                                </div>
                                            </div>

                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="phone">Phone Number</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-input" name="jkshop_contact_phone" value="{{ form_value('jkshop_contact_phone') }}" type="number" id="phone" required>
                                                </div>
                                            </div>

                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="provinces">Province</label>
                                                <div class="uk-form-controls">
                                                    <select name="jkshop_ds_county" class="uk-select" id="provinces" required>
                                                        <option value="" disabled selected>Select Province</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="cities">City</label>
                                                <div class="uk-form-controls">
                                                    <select name="jkshop_ds_city" class="uk-select" id="cities" required>
                                                        <option value="" disabled selected>Select City</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="post-code">Post Code</label>
                                                <div class="uk-form-controls">
                                                    <input class="uk-input" name="jkshop_ds_postcode" value="{{ form_value('jkshop_ds_postcode') }}" type="number" id="post-code" required>
                                                </div>
                                            </div>

                                            <div class="uk-margin">
                                                <div class="uk-form-label">Full Addres</div>
                                                <div class="uk-form-controls uk-form-controls-text">
                                                    <textarea name="jkshop_ds_address" class="uk-textarea" rows="5" required>{{ form_value('jkshop_ds_address') }}</textarea>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="uk-modal-footer uk-text-right">
                                            <button class="uk-button uk-button-primary" type="submit">Save</button>
                                        </div>
                                        {{ form_close() }}

                                    </div>
                                </div>
                            </li>
                            {#<li><a href="">Use Another Address</a></li>#}
                        </ul>
                    </div>
                </div>
                {% if user.jkshop_ds_address %}
                    <hr>
                    <div class="body">
                        <div class="detail-address">
                            <div class="title p16">
                                <span>{{ user.name }}&nbsp;</span>
                                <span>
                                <a href="#modal-overflow" class="update-address" uk-toggle>
                                    <i>
                                        <img src="{{'assets/img/icon/pencil-green.png'|theme}}"
                                             srcset="{{'assets/img/icon/pencil-green@2x.png 2x'|theme}}, {{'assets/img/icon/pencil-green@3x.png 3x'|theme}}">
                                    </i>
                                </a>
                            </span>
                            </div>
                            <div class="content light-grey">
                                <p>{{ user.jkshop_contact_phone }}</p>
                                <p>{{ user.email }}</p>
                                <p>{{ user.jkshop_ds_address }}, {{ user.jkshop_ds_city }}, {{ user.jkshop_ds_county }}. {{ user.jkshop_ds_postcode }} </p>
                            </div>
                        </div>
                        <hr>
                        <div class="notes">
                            <div class="title">Add Notes <span class="light-grey">(Optional)</span></div>
                            <input class="border" type="text" id="notes" name="notes" placeholder="Notes about your order, for instance, a special note for your delivery">
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="box-wrapper product-list border">
                <div class="header">
                    <div class="left-header">
                        <i>
                            <img src="{{'assets/img/icon/cart-green.png'|theme}}"
                                 srcset="{{'assets/img/icon/cart-green@2x.png 2x'|theme}},
                        {{'assets/img/icon/cart-green@3x.png 3x'|theme}}" class="icon-left-text">
                        </i>
                        <span class="fs16">Shopping Details</span>
                    </div>
                    <div class="right-header" style="display: none">
                        <p>Add shipping insurance</p>
                        <input class="uk-checkbox" type="checkbox">
                    </div>
                </div>
                <hr>
                <div class="body">
                    <div class="basket-product-row-wrapper" id="basket-product-list">
                        {% partial __SELF__ ~"::basket-product-list" %}
                    </div>
                    <div class="notes">
                        <div class="title">Add Notes <span class="light-grey">(Optional)</span></div>
                        <input class="border" type="text" id="notes" name="notes" placeholder="Notes about your order, for instance, a special note for your delivery">
                    </div>
                    <div class="courier">
                        <div class="title">Choose Courier</div>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="couriers" name="shipping_price" data-request="onChangeCourier" required>
                                <option value="" disabled selected>Select Courier</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-wrapper border">
                <div class="header">
                    <div class="left-header">
                        <i>
                            <img src="{{'assets/img/icon/icon-payment-method.png'|theme}}"
                                 srcset="{{'assets/img/icon/icon-payment-method@2x.png 2x'|theme}},
                        {{'assets/img/icon/icon-payment-method@3x.png 3x'|theme}}" class="icon-left-text">
                        </i>
                        <span class="fs16">Choose Payment Method</span>
                    </div>
                </div>
                <hr>
                <div class="body">
                    <div class="payment-item uk-flex uk-flex-between">
                        <div class="uk-flex">
                            <input class="uk-checkbox" type="checkbox" checked>
                            <p>Transfer</p>
                        </div>
                        <img src="{{'assets/img/icon/payment-bca.png'|theme}}"
                             srcset="{{'assets/img/icon/payment-bca@2x.png 2x'|theme}},
                        {{'assets/img/icon/payment-bca@3x.png 3x'|theme}}">
                    </div>
                    <div class="info-box">
                        <p>
                            Make your payment directly to our account. please use your order ID as a payment reference. Your order
                            will not be sent until your payment have been sent to our account. For further information please contact
                            our <span class="turtle-green">customer support</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-column" id="checkout-price-summary">
            {% partial __SELF__ ~"::checkout-summary-price" %}
        </div>
    </div>
{% endif %}

{% put scripts %}
    <script>
        // console.log = function() {};
        let allCities = [];
        let cityList = [];
        $(document).on('ready', function() {
            $('.modal-address form').addClass('uk-form-horizontal uk-margin-large');

            // Get all provinces
            const provinceList = JSON.parse(('{{ provinceList }}').replace(/&quot;/g,'"')).rajaongkir.results;
            console.log('provinceList: ', provinceList);
            $.each(provinceList, function (i, item) {
                $('#provinces').append($('<option>', {
                    value: item.province,
                    text : item.province
                }));
            });
            if ('{{ user.jkshop_ds_county }}') {
                $('#provinces').val('{{ user.jkshop_ds_county }}');
            }

            // Get all cities
            allCities = JSON.parse(('{{ cityList }}').replace(/&quot;/g,'"')).rajaongkir.results;
            console.log('allCities: ', allCities);
            getCityList();
            if ('{{ user.jkshop_ds_city }}') {
                $('#cities').val('{{ user.jkshop_ds_city }}');
            }

            // Change province
            $('#provinces').change(function(){
                getCityList();
            });

        });

        // Get city based on selected province
        const getCityList = () => {
            const selectedProvince = $('#provinces option:selected').val();
            cityList = allCities.filter(function (data) {
                return data.province === selectedProvince;
            });
            $('#cities option').remove();
            console.log('cityList: ', cityList);
            $.each(cityList, function (i, item) {
                $('#cities').append($('<option>', {
                    value: item.city_name,
                    text : item.city_name
                }));
            });

            getShippingCostList();
        };

        // Get shipping cost list
        const getShippingCostList = () => {
            const destination = cityList.filter(function (data) {
                return data.city_name === '{{ user.jkshop_ds_city }}'
            });
            if (destination.length) {
                const destinationCode = destination[0].city_id;
                const couriers = ['tiki', 'jne'];

                // Get courier list
                for (let i = 0; i < couriers.length; i++) {
                    $('form').request(
                        'onGetShipping',
                        {
                            data: {
                                origin: "151",
                                destination: destinationCode,
                                weight: 200,
                                courier: couriers[i]

                            },
                            success: function(data) {
                                const response = JSON.parse(data.result).rajaongkir;
                                console.log('response: ', response);
                                if (response.status.code === 200) {
                                    const courierCode = response.results[0].code.toUpperCase();
                                    const courierList = response.results[0].costs;
                                    $.each(courierList, function (i, item) {
                                        $('#couriers').append($('<option>', {
                                            value: item.cost[0].value,
                                            text: courierCode + ' ' + item.service + ' - Rp ' + item.cost[0].value + ' (' + item.cost[0].etd + ' days)'
                                        }));
                                        if (item.cost[0].value.toString() === '{{ basket.shipping_price }}') {
                                            $('#couriers').val('{{ basket.shipping_price }}');
                                        }
                                    });
                                    if ('{{ user.jkshop_ds_county }}') {
                                        $('#provinces').val('{{ user.jkshop_ds_county }}');
                                    }
                                } else {
                                    alert(response.status.description);
                                }
                            }
                        });
                }
            }
        };
    </script>
{% endput %}
