{% if this.page.title is same as ('Cart') %}
    {% partial __SELF__ ~"::cart-list" %}
{% else %}
    {% if user %}
        {% partial __SELF__ ~"::checkout" %}
    {% else %}
        <div>Please <a href="{{ 'login'|page }}" class="fc-turtle-green">Login </a>first to checkout your products.</div>
    {% endif %}
{% endif %}
