[Jiri\Subscribe\Components\SubscribeForm subscribeform]
==
<?php
  use Jiri\Jkshop\Models\Category;
  function onStart(){
    $this['categories'] = Category::get();
  }
?>
==

<div class="footer">
    <div class="main-footer">
        <div class="container">
            <div class="footer-1">
                <div class="d-flex justify-content-between align-items-center">
                    <img src="{{'assets/img/general/richmall@3x.png'|theme}}" height="40" alt="Richmall">
                    <ul class="d-flex">
                        <li><p><b>Ikuti Kami</b></p></li>
                        <li><img src="{{'assets/img/icon/icon-facebook.png'|theme}}" width="30" height="30" alt="facebook"></li>
                        <li><img src="{{'assets/img/icon/icon-twitter.png'|theme}}" width="30" height="30" alt="twitter"></li>
                        <li><img src="{{'assets/img/icon/icon-instagram.png'|theme}}" width="30" height="30" alt="instagram"></li>
                        <li><img src="{{'assets/img/icon/icon-youtube.png'|theme}}" width="30" height="30" alt="youtube"></li>
                    </ul>
                </div>
                <p class="text">Richmall.com adalah Online B2B Marketplace yang memberikan kemudahan proses transaksi jual-beli melalui teknologi dan fitur yang dapat membantu Seller dan Buyer melakukan proses
                    bisnis lebih mudah, aman, dan transparan. Richmall menghubungkan pembeli, baik korporat maupun individu, dalam menemukan ribuan produk untuk kebutuhan bisnis dan perusahaan dari
                    ratusan supplier ternama dan terpercaya.</p>
            </div>
            <div class="footer-2">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <ul>
                                    <li><b>Rich Mall</b></li>
                                    <li><a href="">Tentang Kami</a></li>
                                    <li><a href="">Karir</a></li>
                                    <li><a href="">News</a></li>
                                    <li><a href="">Semua Merek</a></li>
                                    <li><a href="">Rich Mall Quotation</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li><b>Pembeli</b></li>
                                    <li><a href="">Cara Beli</a></li>
                                    <li><a href="">Metode Pembayaran</a></li>
                                    <li><a href="">Lihat Promo</a></li>
                                    <li><a href="">Produk Terbaru</a></li>
                                    <li><a href="">Tags</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li><b>Penjual</b></li>
                                    <li><a href="">Jual di Richmall.com</a></li>
                                    <li><a href="">Pusat Penjualan</a></li>
                                    <li><a href="">Penjual Super</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li><b>Bantuan</b></li>
                                    <li><a href="">Hubungi Kami</a></li>
                                    <li><a href="">F.A.Q</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="{{'assets/img/icon/badge-googleplay.png'|theme}}" width="130" alt="google play" class="mb-3">
                        <img src="{{'assets/img/icon/badge-appstore.png'|theme}}" width="130" alt="app store">
                    </div>
                </div>
            </div>
            <div class="footer-3">
                <p><b>Metode Pembayaran</b></p>
                <ul class="d-flex">
                    <li><img src="{{'assets/img/icon/bank-bca.svg'|theme}}" height="30" alt="BCA"></li>
                    <li><img src="{{'assets/img/icon/bank-mandiri.svg'|theme}}" height="30" alt="Mandiri"></li>
                    <li><img src="{{'assets/img/icon/bank-bri.png'|theme}}" height="30" alt="BRI"></li>
                    <li><img src="{{'assets/img/icon/bank-permata.svg'|theme}}" height="30" alt="Permata"></li>
                    <li><img src="{{'assets/img/icon/bank-visa.png'|theme}}" height="30" alt="Visa"></li>
                    <li><img src="{{'assets/img/icon/bank-mastercard.svg'|theme}}" height="30" alt="Mastercard"></li>
                    <li><img src="{{'assets/img/icon/pay-pal.png'|theme}}" height="30" alt="My Big Pay"></li>
                </ul>
            </div>
            <div class="footer-4">
                <p><b>Jasa Pengiriman</b></p>
                <ul class="d-flex">
                    <li><img src="{{'assets/img/icon/kurir-jne.png'|theme}}" height="30" alt="JNE"></li>
                    <li><img src="{{'assets/img/icon/kurir-megakargo.png'|theme}}" height="30" alt="Mega Kargo"></li>
                    <li><img src="{{'assets/img/icon/kurir-posindonesia.svg'|theme}}" height="30" alt="Pos Indonesia"></li>
                    <li><img src="{{'assets/img/icon/kurir-sicepat.png'|theme}}" height="30" alt="Si Cepat"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-right">
        Copyright © 2019 PT Rich Mall. All Rights Reserved
    </div>
    <div style="display: none">
        <div class="top-footer">
            <div class="uk-container">
                <div id="responsive-js-3" class="uk-align-center">
                    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                        <div>
                            <img data-src="{{'assets/img/icon/phone-green-c.png'|theme}}"
                                 data-srcset="{{'assets/img/icon/phone-green@2x-c.png 2x'|theme}},
                             {{'assets/img/icon/phone-green@3x-c.png 3x'|theme}}" alt="" uk-img>
                            <div class="r1-text-01">DO YOU HAVE A QUESTION?</div>
                            <div class="r1-text-02">0812 123 1234</div>
                        </div>
                        <div>
                            <img data-src="{{'assets/img/icon/email-green-c.png'|theme}}"
                                 data-srcset="{{'assets/img/icon/email-green@2x-c.png 2x'|theme}},
                             {{'assets/img/icon/email-green@3x-c.png 3x'|theme}}" alt="" uk-img>
                            <div class="r1-text-01">OFFER QUESTION?</div>
                            <div class="r1-text-02">ecommerce@richmallbeauty.id</div>
                        </div>
                        <div>
                            <img data-src="{{'assets/img/icon/shape-c.png'|theme}}"
                                 data-srcset="{{'assets/img/icon/shape@2x-c.png 2x'|theme}},
                             {{'assets/img/icon/shape@3x-c.png 3x'|theme}}" alt="" uk-img>
                            <div class="r1-text-01">SUPPORT QUESTION?</div>
                            <div class="r1-text-02">support@richmallbeauty.id</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-footer">
            <div class="uk-container">
                <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                    <div>
                        <ul>
                            <li class="footer-list-title">INFORMATION</li>
                            <li class="footer-list-item"><a href="">About Us</a></li>
                            <li class="footer-list-item"><a href="">Blog</a></li>
                            <li class="footer-list-item"><a href="">Careers</a></li>
                            <li class="footer-list-item"><a href="">Newsletters</a></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li class="footer-list-title">MY ACCOUNT</li>
                            <li class="footer-list-item"><a href="">My Account</a></li>
                            <li class="footer-list-item"><a href="{{ 'cart'|page }}">Shopping Cart</a></li>
                            <li class="footer-list-item"><a href="{{ 'checkout'|page }}">Check Out</a></li>
                            <li class="footer-list-item"><a href="{{ 'login'|page }}">Sign </a></li>
                            <li class="footer-list-item"><a href="">Order Tracking</a></li>
                        </ul>
                    </div>

                    <div class="second-row-mobile">
                        <ul>
                            <li class="footer-list-title">CUSTOMER CARE</li>
                            <li class="footer-list-item"><a href="{{ 'contact'|page }}">Contact Us</a></li>
                            <li class="footer-list-item"><a href="">Terms of Use</a></li>
                            <li class="footer-list-item"><a href="{{ 'privacy-policy'|page }}">Privacy Policy</a></li>
                            <li class="footer-list-item"><a href="">FAQ</a></li>
                            <li class="footer-list-item"><a href="">Deliver Information</a></li>
                        </ul>
                    </div>

                    <div class="second-row-mobile">
                        <ul>
                            <li class="footer-list-title">EXTRA</li>
                            <li class="footer-list-item"><a href="">Promo of the Month</a></li>
                        </ul>
                    </div>

                    <div class="hide-tablet">
                        <ul>
                            <li class="footer-list-title">CONNECT WITH US</li>
                            <ul class="footer-social">
                                <li class="footer-list-social">
                                    <a href="">
                                        <img data-src="{{'assets/img/icon/facebook-font-awesome-c.png'|theme}}"
                                             data-srcset="{{'assets/img/icon/facebook-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/facebook-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                    </a>
                                </li>
                                <li class="footer-list-social">
                                    <a href="">
                                        <img data-src="{{'assets/img/icon/twitter-font-awesome-c.png'|theme}}"
                                             data-srcset="{{'assets/img/icon/twitter-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/twitter-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                    </a>
                                </li>
                                <li class="footer-list-social">
                                    <a href="">
                                        <img data-src="{{'assets/img/icon/instagram-font-awesome-c.png'|theme}}"
                                             data-srcset="{{'assets/img/icon/instagram-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/instagram-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                    </a>
                                </li>
                                <li class="footer-list-social">
                                    <a href="">
                                        <img data-src="{{'assets/img/icon/youtube-play-font-awesome-c.png'|theme}}"
                                             data-srcset="{{'assets/img/icon/youtube-play-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/youtube-play-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                    </a>
                                </li>
                                <li class="footer-list-social mr0">
                                    <a href="">
                                        <img data-src="{{'assets/img/icon/whatsapp-font-awesome-c.png'|theme}}"
                                             data-srcset="{{'assets/img/icon/whatsapp-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/whatsapp-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                    </a>
                                </li>
                            </ul>

                        </ul>
                    </div>
                </div>
                <div class="show-tablet footer-social-wrapper-tab">
                    <ul>
                        <li class="footer-list-title">CONNECT WITH US</li>
                        <ul class="footer-social">
                            <li class="footer-list-social">
                                <a href="">
                                    <img data-src="{{'assets/img/icon/facebook-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/facebook-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/facebook-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social">
                                <a href="">
                                    <img data-src="{{'assets/img/icon/twitter-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/twitter-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/twitter-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social">
                                <a href="">
                                    <img data-src="{{'assets/img/icon/instagram-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/instagram-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/instagram-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social">
                                <a href="">
                                    <img data-src="{{'assets/img/icon/youtube-play-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/youtube-play-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/youtube-play-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                </a>
                            </li>
                            <li class="footer-list-social mr0">
                                <a href="">
                                    <img data-src="{{'assets/img/icon/whatsapp-font-awesome-c.png'|theme}}"
                                         data-srcset="{{'assets/img/icon/whatsapp-font-awesome@2x-c.png 2x'|theme}},
                                     {{'assets/img/icon/whatsapp-font-awesome@3x-c.png 3x'|theme}}" alt="" uk-img>
                                </a>
                            </li>
                        </ul>

                    </ul>
                </div>
            </div>
        </div>

        <div class="copy-right">
            Copyright © 2018 GO BEAUTY.  All Rights Reserved.
        </div>
    </div>
</div>
