[staticMenu]
code = "main-menu"

[viewBag]
==
<?php
	use Jiri\Jkshop\Models\Category;
	function onStart(){
		$this['category'] = Category::orderBy('id','desc')->paginate(3);
$this['categories'] = Category::get();
}
?>
==
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="float-right">
                <div class="d-md-block d-none">
                    <a class="inline" href="">021-4567890</a>
                    <a class="inline" href="">info@richmall.com</a>
                </div>
                <div class="d-md-none d-block">
                    <i>
                        <img src="" alt="richmall">
                    </i>
                    <span class="ml-8 phone-number white">Call us now 0812 3456 7890</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="row d-lg-none header-md-1 align-items-center">
                <div class="col-md-1">
                    <img src="{{'assets/img/icon/menu.svg'|theme}}" width="24" alt="Menu">
                </div>
                <div class="col-md-10">
                    <div class="logo">
                        <a href="{{ 'homepage'|page }}">
                            <img src="{{'assets/img/general/logo@3x.png'|theme}}" alt="richmall">
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row justify-content-between header-md-2">
                <div class="col-auto col-lg-3 pr-0 d-none d-lg-flex">
                    <div class="logo">
                        <a href="{{ 'homepage'|page }}">
                            <img src="{{'assets/img/general/logo@3x.png'|theme}}" alt="richmall">
                        </a>
                    </div>
                </div>
                <div class="col-auto d-lg-none">
                    <a href="{{ 'login'|page }}" class="btn float-right btn-outline-primary fs-14 ph-25 white bw-2">Kategori</a>
                </div>
                <div class="col-md-5 align-self-center px-0">
                    <form class="form-inline input-group">
                        <input type="text" class="form-control" placeholder="Cari Barang / Penjual..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <img src="{{'assets/img/icon/search.svg'|theme}}" alt="search" class="position-absolute">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Cari</button>
                        </div>
                    </form>
                </div>
                <div class="d-none d-md-flex col-md-auto col-xl-auto align-self-center">
                    <div class="row">
                        <div class="d-flex align-items-center">
                            <div class="d-inline-block local-grocery mx-3">
                                <img src="{{'assets/img/icon/troley.svg'|theme}}" alt="troley" class="float-left">
                            </div>
                            <div class="local-grocery mx-3 d-none d-lg-inline-block">
                                <img src="{{'assets/img/icon/store.svg'|theme}}" alt="store" class="float-left">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end ml-3 register-login-btn">
                            <div class="button-group btn-group align-self-center" role="group">
                                <a href="{{ 'register'|page }}" class="btn float-right btn-primary fs-14 ph-25 ml-10">Daftar</a>
                                <a href="{{ 'login'|page }}" class="btn float-right btn-outline-primary fs-14 ph-25 white bw-2">Masuk</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none col-auto align-self-center">
                    <div class="row no-gutters">
                        <div class="local-grocery">
                            <a href="">
                                <img src="" alt="cart">
                            </a>
                            <a href="">
                                <img src="" alt="cart">
                            </a>
                            <a href="">
                                <img src="" alt="cart">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% put scripts %}
    <script>
        // Remove element to prevent redundant id #basket-quantity
        if ($(window).width() <= 767) {
            $('.basket-quantity-large').removeAttr('id');
            $('.basket-quantity-small').attr('id', 'basket-quantity');
            console.log('a');
        }
        else {
            $('.basket-quantity-large').attr('id', 'basket-quantity');
            $('.basket-quantity-small').removeAttr('id');
        }

        $('.user-dropdown')
            .popup({
                inline     : true,
                hoverable  : true,
                position   : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;

        $(window).on("scroll touchmove", function () {
            $('.header').toggleClass('smaller', $(document).scrollTop() > 35);
        });
    </script>
{% endput %}
