<div class="contact-page uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="{{ 'homepage'|page }}">Home</a></li>
        <li><a href="{{ 'profile'|page }}">Profile</a></li>
    </ul>
    <div class="container">
        <h2>Basic Info</h2>
        <hr>
        {{ form_ajax('onUpdate', { model: user }) }}
        <div class="uk-grid-small uk-form contact-form" uk-grid>
            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="accountName"> Full Name</label>
                <input class="uk-input" id="accountName" name="name" type="text" value="{{ form_value('name') }}">
            </div>
            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="email"> Email Address</label>
                <input class="uk-input uk-disabled" name="email" type="email" id="email" value="{{ form_value('email') }}">
            </div>
            <div class="uk-width-1-1@s">
                <label class="uk-form-label" for="jkshop_contact_phone"> Phone Number</label>
                <input class="uk-input" name="jkshop_contact_phone" id="jkshop_contact_phone" type="text" value="{{ form_value('jkshop_contact_phone') }}">
            </div>
            <div class="uk-width-1-1@s">
                <div class="uk-button uk-button-default" id="change-password">Change Password</div>
            </div>
            <div id="change-password-field" class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1@s">
                    <label class="uk-form-label" for="accountPassword"> New Password</label>
                    <input class="uk-input" name="password" type="password" id="accountPassword">
                </div>
                <div class="uk-width-1-1@s">
                    <label class="uk-form-label" for="accountPasswordConfirm"> Confirm New Password</label>
                    <input class="uk-input" name="password_confirmation" type="password" id="accountPasswordConfirm">
                </div>
            </div>
            <!--<div class="uk-width-1-1@s">-->
                <!--<button type="submit" class="uk-button uk-button-secondary">Save</button>-->
            <!--</div>-->
        </div>
    </div>

    <div class="container">
        <h2 class="mt45">Address</h2>
        <hr>
        <div class="uk-grid-small uk-form contact-form" uk-grid>
            <div class="uk-width-1-1@s">
                <label class="uk-form-label"> Billing Address</label>
                <input class="uk-input" type="text" name="jkshop_ds_address" placeholder="Street Address" value="{{ form_value('jkshop_ds_address') }}">
            </div>
            <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="accountName"> City</label>
                <input class="uk-input" type="text" name="jkshop_ds_city" placeholder="City" value="{{ form_value('jkshop_ds_city') }}">
            </div>

            <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="accountName"> Province</label>
                <input class="uk-input" type="text" name="jkshop_ds_county" placeholder="Province" value="{{ form_value('jkshop_ds_county') }}">
            </div>

            <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="accountName"> Country</label>
                <input class="uk-input" type="text" name="jkshop_ds_country" placeholder="Country" value="{{ form_value('jkshop_ds_country') }}">
            </div>

            <div class="uk-width-1-2@s">
                <label class="uk-form-label" for="accountName"> Postal Code</label>
                <input class="uk-input" type="text" name="shipping[address-2]" placeholder="Postal Code" value="{{ form_value('jkshop_ds_postcode') }}">
            </div>

            <!--<div class="field">-->
                <!--<label>Name</label>-->
                <!--<div class="two fields">-->
                    <!--<div class="field">-->
                        <!--<input type="text" name="jkshop_ds_first_name" placeholder="First Name" value="{{ form_value('jkshop_ds_first_name') }}">-->
                    <!--</div>-->
                    <!--<div class="field">-->
                        <!--<input type="text" name="jkshop_ds_last_name" placeholder="Last Name" value="{{ form_value('jkshop_ds_last_name') }}">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="uk-width-1-1@s">
                <button type="submit" class="uk-button uk-button-secondary">Save</button>
            </div>
        </div>
        {{ form_close() }}
    </div>
</div>

{% put scripts %}
<script>
    $('.profile-page form').addClass('ui form');
    $('input').attr('autocomplete','new-password');
    $('#change-password').click(function(){
        $('#change-password-field').toggle();
    });
</script>
{% endput %}
